@import "../../../styles/mixins";
.card {
    flex: 1;
}

:host {
    .link-navigations {
        background-color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 16px;
        a {
            color: #343C63;
            display: flex;
            padding: 8px 10px;
            border-bottom: 2px solid #F0F0F0;
            font-size: 16px;
            // @include nb-ltr(padding, 0 0.5rem 0 0.625rem);
            cursor: pointer;
            text-decoration: none;
            &:last-of-type {
                border-bottom: none;
            }
        
            &.active {
                color: #4B74FF;
                span.index {
                    border-color: #4B74FF !important;
                }
            }
            span {
                display: inline-block;
                &.index {
                    border-right: 2px solid #343C63;
                    padding-bottom: 2px;
                    padding-top: 2px;
                    min-width: 14px;
                    @include nb-rtl(){
                        border-left: 2px solid #343C63;
                        border-right:none;
                    }
                }
               
                &.text {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}