<div id="identity-roles-wrapper" class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">اﻷدوار</h5>
        </div>
        <div class="text-right col col-md-6">
          <!-- <abp-page-toolbar [record]="data.items"></abp-page-toolbar> -->
          <button mat-button   class="btn btn-success  btn-sm "
              (click)="$event.stopPropagation();add()">
              <mat-icon>add_circle</mat-icon>
              إضافة دور
          </button>
        </div>
      </div>
    </div>
  
   <!--  <div class="row">
      <div class="col col-md-6">

      
        <mat-accordion>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
              
              </mat-expansion-panel-header>
          
              <p>I'm visible because I am open</p>
           
          </mat-expansion-panel>

          <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Self aware panel
                </mat-panel-title>
              </mat-expansion-panel-header>
              
              <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>

    </div>
  </div> -->



    <div class="card-body">
    
      
     


      <ngx-datatable
      
        class="material fullscreen with-row-pointer"
        [rows]="data.items"
        [count]="data.totalCount"
        [list]="list"
        appNgxdatatable>

        <ngx-datatable-column  [name]="'اسم الدور'"  prop="name">
          <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              {{value}} {{rowIndex}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'الاجراء'" prop="name"> 
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-container >
                <!-- <button mat-button 
                (click)="$event.stopPropagation();openPermissionsModal(row.id)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-button 
                (click)="$event.stopPropagation();edit(row.id)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-button (click)="$event.stopPropagation();delete(row.id,row.name)">
                    <mat-icon>delete</mat-icon>
                </button> -->


                <div ngbDropdown container="body">
                    <button type="button" class="btn btn-outline-primary btn-sm dropDownCustom" id="dropdownConfig" ngbDropdownToggle>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                        <button ngbDropdownItem  (click)="$event.stopPropagation();openPermissionsModal(row.name)">
                          <mat-icon class="text-success">visibility</mat-icon>
                          اذوﻧﺎت
                        </button>
                        <button ngbDropdownItem  (click)="$event.stopPropagation();edit(row.id)">
                          <mat-icon class="text-primary">edit</mat-icon>
                          ﺗﻌﺪﻳﻞ
                        </button>
                        <button ngbDropdownItem  (click)="$event.stopPropagation();delete(row.id,row.name)">
                          <mat-icon class="text-danger">delete</mat-icon>
                          ﺣﺬف
                        </button>
                    </div>
                </div>
           
            

            </ng-container>
          </ng-template>
        </ngx-datatable-column>



    </ngx-datatable>


    </div>
  </div>
  
  <abp-modal size="md" [(visible)]="isModalVisible" [busy]="modalBusy">
    <ng-template #abpHeader>
      <h3>{{ (selected.id? 'AbpIdentity::Edit' : 'AbpIdentity::NewRole') | abpLocalization }}</h3>
    </ng-template>
  
    <ng-template #abpBody>
      <form [formGroup]="form" (ngSubmit)="save()" validateOnSubmit>
        <abp-extensible-form [selectedRecord]="selected"></abp-extensible-form>
      </form>
    </ng-template>
  
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>
        {{ 'AbpIdentity::Cancel' | abpLocalization }}
      </button>
      <abp-button iconClass="fa fa-check" [disabled]="form?.invalid" (click)="save()">{{
        'AbpIdentity::Save' | abpLocalization
      }}</abp-button>
    </ng-template>
  </abp-modal>

  <abp-permission-management
    #abpPermissionManagement="abpPermissionManagement"
    *abpReplaceableTemplate="
      {
        inputs: {
          providerName: { value: 'R' },
          providerKey: { value: providerKey },
          visible: { value: visiblePermissions, twoWay: true },
          hideBadges: { value: true }
        },
        outputs: { visibleChange: onVisiblePermissionChange },
        componentKey: permissionManagementKey
      };
      let init = initTemplate
    "
    (abpInit)="init(abpPermissionManagement)"
  >
  </abp-permission-management>