<ngx-datatable *ngIf="items; else showLoader" class="material fullscreen" #dataTable [rows]="items" [count]="totalCount" [list]="list"
  (activate)="activate($event)" appNgxdatatable>
  <ngx-datatable-column [width]="85" [name]="'::ControlReference' | abpLocalization" prop="reference"></ngx-datatable-column>
  <ngx-datatable-column [name]="'::ControlNameAr' | abpLocalization" prop="nameAr"></ngx-datatable-column>
  <ngx-datatable-column [name]="'::ControlNameEn' | abpLocalization" prop="nameEn"></ngx-datatable-column>
  <ngx-datatable-column [name]="'::ControlStatus' | abpLocalization" prop="status">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ ( '::Enum:SharedStatus:' + value ) | abpLocalization }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'::FrameworkLastUpdate' | abpLocalization" prop="lastModificationTime">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <span title="{{value | date}}">{{value | fromNow}}</span>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column [name]="'::Actions' | abpLocalization" [width]="200" [maxWidth]="200" [sortable]="false" cellClass="options">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <!-- <button mat-button
        color="primary"
        (click)="openDomainDetailsDialog(row); $event.stopPropagation()">
          <mat-icon>
              visibility
          </mat-icon>
        </button> -->

      <ng-container *ngIf="showButton">
        <button *abpPermission="'ComplianceSystem.Control.Update'" mat-button
        color="accent"
          (click)="$event.stopPropagation();openDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>

        <button *abpPermission="'ComplianceSystem.Control.Delete'" mat-button color="warn"
          (click)="$event.stopPropagation();delete(row)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>



<ng-template #domainDetailsDialog let-data  let-ref="dialogRef">
  <div class="app-dialog">
      <div mat-dialog-title class="pt-2 pb-2 pr-3 pl-3 dialog-title d-flex align-items-center justify-content-between">
          {{  data.data?.nameAr }}
      </div>

      <mat-dialog-content >
        <div class="details-table-cont">
            <table class="table">
              <tr>
                
                <td>
                  {{ '::ControlReference' | abpLocalization }}
                </td>
                <td >
                    {{data.data?.reference}}
                </td>
                <td>
                  {{ '::ControlStatus' | abpLocalization }}
                </td>
                <td >
                  {{ ( '::Enum:SharedStatus:' + data.data?.status ) | abpLocalization }}
                </td>
              </tr>
              <tr>
                  <td>
                    {{ '::ControlNameAr' | abpLocalization }}
                  </td>
                  <td >
                      {{data.data?.nameAr}}
                  </td>
                  <td>
                    {{ '::ControlNameEn' | abpLocalization }}
                  </td>
                  <td >
                      {{data.data?.nameEn}}
                  </td>
              </tr>
              <tr>
                <td>
                    {{ '::ControlDescriptionAr' | abpLocalization }}
                </td>
                <td>
                    {{data.data?.descriptionAr}}
                </td>
                <td>
                    {{ '::ControlDescriptionEn' | abpLocalization }}
                </td>
                <td>
                    {{data.data?.descriptionEn}}
                </td>
              </tr>
              <tr>
                <td>
                  {{ '::CompliancePercentage' | abpLocalization }}
                </td>
                <td >
                  {{data.data?.compliancePercentage}}
                </td>
                <td>
                  {{ '::FrameworkLastUpdate' | abpLocalization }}
                </td>
                <td >
                  {{data.data?.lastModificationTime | fromNow}}
                </td>
              </tr>


            </table>
        </div>
      </mat-dialog-content>
      
      <mat-dialog-actions class="actions p-3 mb-0">
          <button type="button" mat-button (click)="ref.close()" class="red"> 
              {{ '::Close' | abpLocalization }}
          </button>
      </mat-dialog-actions>
  </div>
</ng-template>



<ng-template #showLoader>
  <mat-spinner [diameter]="40" [strokeWidth]="3"></mat-spinner>
</ng-template>


<ng-template #controlDialog let-data let-ref="dialogRef">
  <app-create-control  [frameWorkData]="frameWorkData" [data]="data.data" [ref]="ref" [mode]="data.mode" [subDomainId]="subDomainId" [mainDomain]="mainControl"></app-create-control>
</ng-template>
