ul {
    padding: 0;
    margin: 0;
}

:host {
    .mat-spinner {
        margin: auto;
            ::ng-deep  circle{
            stroke: var(--main-color);
        }
    }
    ngx-datatable ::ng-deep{
        datatable-body-row {
            cursor: pointer;
        }
    }
}