<div class="card">
  <div class="card-header">
    {{subDomain.reference }} | {{subDomain | lang:'name'}}
  </div>
  <div class="card-body">
    <ngx-datatable class="material fullscreen" [rows]="items" [count]="totalCount"  #table appNgxdatatable>
      <ngx-datatable-column [name]="'::ControlReference' | abpLocalization" prop="reference"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::ControlNameAr' | abpLocalization" prop="nameAr"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::ControlNameEn' | abpLocalization" prop="nameEn"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::ControlStatus' | abpLocalization" prop="status">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ ( '::Enum:SharedStatus:' + value ) | abpLocalization }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::FrameworkLastUpdate' | abpLocalization" prop="lastModificationTime">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span title="{{value | date}}">{{value | fromNow}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
        [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
          </a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-row-detail [rowHeight]="'auto'" (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <app-assessment-form [control]="row"></app-assessment-form>
        </ng-template>
      </ngx-datatable-row-detail>
    </ngx-datatable>
  </div>
</div>
