<mat-card class="form-card">
    <mat-card-title>
        المخاطر والفرص
    </mat-card-title>
    <mat-card-content>
        <div class="d-flex route-actions mb-5">
            <div [class.active]="activeTab === WorkFlowStages.DefineRiskAndOpportunity">
                <span class="d-block circle" (click)="activeTab = WorkFlowStages.DefineRiskAndOpportunity">
                   {{WorkFlowStages.DefineRiskAndOpportunity}}
                </span>
                <button mat-button (click)="activeTab = WorkFlowStages.DefineRiskAndOpportunity">
                    <div>
                        <!-- <i class="fas fa-chart-line"></i> -->
                        <i class="fa fa-file"></i>
                        <p>
                            تعريف الخطر
                        </p>
                        <p>
                            والفرصة
                        </p>
                    </div>
                </button>
            </div>
            <span class="arrow" [class.active]="activeTab === WorkFlowStages.DefineRiskAndOpportunity">
                <span class="line"></span>
                <i class="fas fa-chevron-left"></i>
            </span>


                <div [ngClass]="{ disabled: !id, active: activeTab === WorkFlowStages.Analysis }">
                <span class="d-block circle" (click)="activeTab = WorkFlowStages.Analysis">
                    {{WorkFlowStages.Analysis}}
                </span>
                <button mat-button (click)="activeTab = WorkFlowStages.Analysis">
                    <div>
                        <i class="fas fa-chart-line"></i>

                        <p>
                            التحليل
                        </p>
                    </div>
                </button>
            </div>
            <span class="arrow" [class.active]="activeTab === WorkFlowStages.Analysis">
                <span class="line"></span>
                <i class="fas fa-chevron-left"></i>
            </span>


                <div [ngClass]="{ disabled: !id, active: activeTab === WorkFlowStages.Evaluation }">
                <span class="d-block circle" (click)="activeTab = WorkFlowStages.Evaluation">
                    {{WorkFlowStages.Evaluation}}
                </span>
                <button mat-button (click)="activeTab = WorkFlowStages.Evaluation">
                    <div>
                        <!-- <i class="fas fa-chart-line"></i> -->
                        <i class="fa fa-dna"></i>
                        <p>
                            التقييم
                        </p>
                    </div>
                </button>
            </div>
            <span class="arrow" [class.active]="activeTab === WorkFlowStages.Evaluation">
                <span class="line"></span>
                <i class="fas fa-chevron-left"></i>
            </span>

                <div [ngClass]="{ disabled: !id, active: activeTab === WorkFlowStages.Processing }">
                <span class="d-block circle" (click)="activeTab = WorkFlowStages.Processing">
                    {{WorkFlowStages.Processing}}
                </span>
                <button mat-button (click)="activeTab = WorkFlowStages.Processing">
                    <div>
                        <i class="fa fa-arrows-spin"></i>
                        <!-- <i class="fas fa-chart-line"></i> -->
                        <p>
                            المعالجة
                        </p>
                    </div>
                </button>
            </div>
            <span class="arrow" [class.active]="activeTab === WorkFlowStages.Processing">
                <span class="line"></span>
                <i class="fas fa-chevron-left"></i>
            </span>

                <div [ngClass]="{ disabled: !id, active: activeTab === WorkFlowStages.Review }">
                <span class="d-block circle" (click)="activeTab = WorkFlowStages.Review">
                    {{WorkFlowStages.Review}}
                </span>
                <button mat-button (click)="activeTab = WorkFlowStages.Review">
                    <div>
                        <i class="fas fa-file-search"></i>
                        <p>
                            المراجعة
                        </p>
                    </div>
                </button>
            </div>

        </div>


        <div [ngSwitch]="activeTab">
            <app-first  *ngSwitchCase="WorkFlowStages.DefineRiskAndOpportunity" [form]="firstForm"> </app-first>
            <app-second *ngSwitchCase="WorkFlowStages.Analysis" [form]="secondForm"> </app-second>
            <app-third  *ngSwitchCase="WorkFlowStages.Evaluation" [form]="thirdForm"> </app-third>
            <app-fourth *ngSwitchCase="WorkFlowStages.Processing" (updateProcessing)="updateHistory(HistoryAction.Update,WorkFlowStages.Processing )"> </app-fourth>
            <app-fifth  *ngSwitchCase="WorkFlowStages.Review" [form]="fifthForm"> </app-fifth>
            <app-first  *ngSwitchDefault  [form]="firstForm"> </app-first>
        </div>

    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-between align-items-center">
        <div>
            <button mat-button *ngIf="activeTab > WorkFlowStages.DefineRiskAndOpportunity" (click)="activeTab = activeTab - WorkFlowStages.DefineRiskAndOpportunity" class="button green" style="width: auto;">
                الخطوة السابقة
            </button>
        </div>

        <div>
            <button mat-button class="button red" routerLink="/risks-management/riskopportunity">إلغاء</button>
            <button mat-button class="button blue" type="submit" (click)="submit()" *ngIf="activeTab !== WorkFlowStages.Processing">
                {{ id ? 'حفظ' : 'إضافة'}}
            </button>
        </div>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="id">
    <mat-card-title>
        سجل التغيير
    </mat-card-title>
    <mat-card-content>
        <mat-card-content>
            <ngx-datatable
            class="material fullscreen"
            columnMode="force"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [scrollbarH]="true"
            #dataTable
            [rows]="historyChanges"
            [count]="totalCount"
            [list]="list"
            appNgxdatatable
            >
                <ngx-datatable-column [name]="'::actionName' | abpLocalization" prop="actionName">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ ('::' + HistoryAction[value] ) | abpLocalization  }}
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column [name]="'::actionDate' | abpLocalization" prop="actionDate">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ value | date:'yyyy-MM-dd' }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [name]="'::creatorName' | abpLocalization" prop="creatorName"></ngx-datatable-column>
                <ngx-datatable-column [name]="'::workFlowStages' | abpLocalization" prop="workFlowStages"></ngx-datatable-column>
            </ngx-datatable>
    
        </mat-card-content>
    </mat-card-content>
</mat-card>
