<mat-card>
    <mat-card-title>
        المخاطر والفرص
    </mat-card-title>
    <mat-card-content>
        <div class="d-flex route-actions">
            <div>
                <span class="d-block circle">
                    1
                </span>
                <button mat-raised-button>
                    <i class="fas fa-chart-line"></i>
                </button>
            </div>
            <span class="arrow">
                <span class="line"></span>
                <i class="fas fa-chevron-left"></i>
            </span>
             <div>
                <span class="d-block circle">
                    1
                </span>
                <button mat-raised-button>
                    <i class="fas fa-chart-line"></i>
                </button>
            </div>
            <span class="arrow">
                <span class="line"></span>
                <i class="fas fa-chevron-left"></i>
            </span>
             <div>
                <span class="d-block circle">
                    1
                </span>
                <button mat-raised-button>
                    <i class="fas fa-chart-line"></i>
                </button>
            </div>
            <span class="arrow">
                <span class="line"></span>
                <i class="fas fa-chevron-left"></i>
            </span>
             <div>
                <span class="d-block circle">
                    1
                </span>
                <button mat-raised-button>
                    <i class="fas fa-chart-line"></i>
                </button>
            </div>
            <span class="arrow">
                <span class="line"></span>
                <i class="fas fa-chevron-left"></i>
            </span>
             <div>
                <span class="d-block circle">
                    1
                </span>
                <button mat-raised-button>
                    <i class="fas fa-chart-line"></i>
                </button>
            </div>
            
        </div>
       <router-outlet></router-outlet>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
  
