<form>
    <div class="row">
       <div class="col-md-12">
            <div class="header-pipe">
                المرفقات
            </div>
            <span class="beneath">
                1.1.1
            </span>
       </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="header-pipe">
                التفاصيل
            </div>
            <p class="beneath">
                يجب تحديد استراتيجية الأمن السيبراني وتوثيقها واعتمادها. يجب أن يكون مدعومًا من قبل رئيس المنظمة أو من يفوضه / مندوبها
                (المشار إليه في هذه الوثيقة باسم مسؤول التخويل). يجب أن تتماشى أهداف الاستراتيجية مع القوانين واللوائح ذات الصلة.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="header-pipe">
                قابلية التطبيق
            </div>
            <div class="beneath">
               <ng-select>
                    <ng-option value="1">
                        ينطبق
                    </ng-option>
                    <ng-option value="2">
                        لا ينطبق
                    </ng-option>
               </ng-select>
            </div>
        </div>
    </div>

    

</form>