@import "./mixins";
.ngx-datatable .datatable-header .datatable-header-cell {
    background: var(--main-green) !important;
    .datatable-header-cell-template-wrap {
        color: #fff !important;
        font-size: 14px;
    }
}

ngx-datatable {
    .datatable-header .datatable-header-cell.resizeable .resize-handle {
        visibility: visible;
        border-color: #ddd;
    }

    datatable-header-cell.datatable-header-cell{
        font-weight: bold !important;
        color: #343C63 !important;
    }

    datatable-body-cell, datatable-header-cell {
        text-align: center !important;
    }
    datatable-scroller {
        display: block !important;
    }

    // datatable-header-cell {
    //     direction: ltr;
    // }

    datatable-body-cell {
        display: flex !important;
        align-items: center;
        justify-content: center;
        .datatable-body-cell-label {
            // word-break: break-all;
        }
        &.options {
            display: flex;
            align-items: center;
            justify-content:center;
            // padding-left: 10px !important;
            // padding-right: 10px !important;
            .datatable-body-cell-label {
                display: flex;
            }
            button, a {
                width: auto;
                min-width: auto;
                // padding-left: 10px;
                // padding-right: 10px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .empty-row  {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    datatable-row-wrapper {
        .datatable-row-detail  {
            overflow-y: visible !important;
            background-color: #fff !important;
        }
    }
}

.details-table-cont {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    table {
        margin: 0;
        tr {
            &:nth-of-type(odd) {
                background-color: #E9EFEC;
                
            }
            td {
                border-left: 1px solid #DDDDDD;
                border-right: 1px solid #DDDDDD;
                border-top: none;
                &:first-of-type{
                    border-right: none;
                    @include nb-ltr(){
                        border-right: 1px solid #DDDDDD;
                        border-left: none;
                    }
                }
                &:last-of-type{
                    border-left: none;
                    @include nb-ltr(){
                        border-left: 1px solid #DDDDDD;
                        border-right: none;
                    }
                }
                @include nb-ltr(){
                    margin-right: 16px;
                    margin-left: 0;
                }
            }
        }
    }
}


mat-accordion.table-details {
    mat-expansion-panel{
        mat-expansion-panel-header {
            background-color: #2B657D !important;
            max-height: 48px;
            mat-panel-title {
                color: #fff;
                &>div {
                    display: flex;
                    align-items: center;
                    button {
                        height: 30px;
                        line-height: 30px;
                        mat-icon {
                            font-size: 18px;
                        }
                    }
                    mat-checkbox {
                        width: 20px;
                        height: 20px;
                        .mat-checkbox-inner-container {
                            width: 20px;
                            height: 20px;
                            .mat-checkbox-background {
                                background-color: #fff;
                            }
                            .mat-checkbox-checkmark-path {
                                stroke: #2b657d !important;
                            }
                        }
                    }
                }
            }

           .mat-expansion-indicator::after {
                color: #fff;
            }
        }
        &.mat-expanded {
            mat-expansion-panel-header {
                background-color: var(--main-green) !important;
                mat-panel-title {
                    &>div {
                        mat-checkbox {
                            .mat-checkbox-checkmark-path {
                                stroke: var(--main-color) !important;
                            }
                        }
                    }
                }
            }
        }
        section {
            padding-top: 2rem;
        }
    }
}