@import "./mixins";
.ngx-datatable .datatable-header .datatable-header-cell {
    background: var(--main-green) !important;
    .datatable-header-cell-template-wrap {
        color: #fff !important;
        // font-size: 14px;
    }
}



ngx-datatable {
    &.with-row-pointer {
        datatable-body-row {
            cursor: pointer;
        }
    }
    .datatable-header .datatable-header-cell.resizeable .resize-handle {
        visibility: visible;
        border-color: #ddd;
    }

    datatable-header-cell.datatable-header-cell{
        font-weight: bold !important;
        color: #343C63 !important;
    }

    datatable-body-cell, datatable-header-cell {
        text-align: center !important;
        font-size: 1rem !important;
    }
    datatable-scroller {
        display: block !important;
    }

    // datatable-header-cell {
    //     direction: ltr;
    // }

    datatable-body-cell {
        display: flex !important;
        align-items: center;
        justify-content: center;
        .datatable-body-cell-label {
            // word-break: break-all;
        }
        &.options {
            display: flex;
            align-items: center;
            justify-content:center;
            // padding-left: 10px !important;
            // padding-right: 10px !important;
            .datatable-body-cell-label {
                display: flex;
            }
            button, a {
                width: auto;
                min-width: auto;
                // padding-left: 10px;
                // padding-right: 10px;
                padding-left: 10px;
                padding-right: 10px;
                mat-icon {
                    margin: 0;
                }
                &.mat-mdc-button {
                    mat-icon {
                        margin: 0;
                    }
                }
            }
        }
    }
    .empty-row  {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    datatable-row-wrapper {
        &:nth-of-type(even) {
            datatable-body-row {
                background-color: #E9EFEC;
            }
        }
        .datatable-row-detail  {
            overflow-y: visible !important;
            background-color: #fff !important;
        }
    }
}

.details-table-cont {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: auto;
    table {
        margin: 0;
        tr {
            &:nth-of-type(odd) {
                background-color: #E9EFEC;
                
            }
            td {
                border-left: 1px solid #DDDDDD;
                border-right: 1px solid #DDDDDD;
                border-top: none;
                font-size: 1rem;
                &:nth-of-type(odd) {
                    color: #888888;
                    font-weight: bold;
                    // min-width: 150px;
                    min-width: 215px;
                }
                &:nth-of-type(even) {
                    width: 50%;
                }
                &:first-of-type{
                    border-right: none;
                    @include nb-ltr(){
                        border-right: 1px solid #DDDDDD;
                        border-left: none;
                    }
                }
                &:last-of-type{
                    border-left: none;
                    @include nb-ltr(){
                        border-left: 1px solid #DDDDDD;
                        border-right: none;
                    }
                }
                @include nb-ltr(){
                    margin-right: 16px;
                    margin-left: 0;
                }
            }
        }
    }
}


mat-accordion.table-details {
    margin-bottom: 2rem;
    display: block;
    mat-expansion-panel {
        background: transparent;

        mat-expansion-panel-header {
            background-color: #2B657D !important;
            max-height: 48px;
            mat-panel-title {
                color: #fff;
                &>div {
                    display: flex;
                    align-items: center;
                    button {
                        height: 30px;
                        line-height: 30px;
                        padding-left: 8px;
                        padding-right: 8px;
                        mat-icon {
                            font-size: 18px;
                        }
                    }
                    mat-checkbox {
                        width: 40px;
                        height: 40px;
                        .mat-checkbox-inner-container {
                            width: 20px;
                            height: 20px;
                            .mat-checkbox-background {
                                background-color: #fff;
                            }
                            .mat-checkbox-checkmark-path {
                                // stroke: #2b657d !important;
                                stroke: #f44336 !important;
                            }
                        }
                    }
                }
            }

           .mat-expansion-indicator::after {
                color: #fff;
            }
        }
        &.mat-expanded {
            mat-expansion-panel-header {
                background-color: var(--main-green) !important;
                // mat-panel-title {
                //     &>div {
                //         mat-checkbox {
                //             .mat-checkbox-checkmark-path {
                //                 stroke: var(--main-color) !important;
                //             }
                //         }
                //     }
                // }
            }
        }
        &.marked-for-delete  mat-expansion-panel-header  {
            background-color: #f44336 !important;
        }
        section {
            padding-top: 2rem;
        }
    }
}

.as-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #4b74ff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    background-color: #ffffff;
    border-radius: 10px;
    height: calc(1.5em + 0.75rem + 12px);
}


.date {
    direction: ltr;
    // font-family: sans-serif, arial;
}
span.status {
    // color: #21D500;
    // font-weight: bold;
    // margin-bottom: 16px;
    font-weight: bold;
    font-size: 14px;
    background: transparent;
    &::before{
        content: "";
        width: 8px;
        height: 8px;
        // background: #21D500;
        display: inline-block;
        border-radius: 8px;
        margin-left: 5px;
        margin-right: 5px;
    }
    &.Active {
        color:#21D500;
        &::before{
            background:#21D500;
        }
    }
    &.Inactive {
        color:#FF0000;
        &::before{
            background:#FF0000;
        }
    }
    &.Approved  {
        color:var(--main-color);
        &::before{
            background:var(--main-color);
        }
    }
    &.NewFramework {
        color:#607D8B;
        &::before{
            background:#607D8B;
        }
    }
    &.UnderReview {
        color:#FF8F00;
        &::before{
            background:#FF8F00;
        }
    }
    &.UnderApproval {
        color:#6bac7b;
        &::before{
            background:#6bac7b;
        }
    }
    &.ReturnedToCreator {
        color:#f4511e;
        &::before{
            background:#f4511e;
        }
    }
    &.UnderPreparation {
        color:#2CCCFF;
        &::before{
            background:#2CCCFF;
        }
    }
    &.ReadyForInternalAssessment, &.ReadyForRevision, &.UnderReRevision {
        color:#9E9D24;
        &::before{
            background:#9E9D24;
        }
    }
    &.UnderInternalAssessment, &.UnderRevision, &.UnderInternalReAssessment {
        color:#9E9D24;
        &::before{
            background:#9E9D24;
        }
    }
    &.Draft {
        color:#607D8B;
        &::before{
            background:#607D8B;
        }
    }

}



.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529
}

.table td,.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6
}


.ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ngx-datatable datatable-body-cell {
    justify-content: flex-start;
    button {
        mat-icon {
            margin: 0 !important;
            color: #101010;
            font-size: 20px;
            width: 20px;
            height: 20px;
        }
    }
}