body[dir="rtl"] {
    .abp-toast-close-button {
        left: 0;
        right: auto !important;
    }

    ngb-datepicker-navigation {
        .ngb-dp-arrow{
            .ngb-dp-navigation-chevron {
                transform: rotate(45deg);
            }
            &.right {
                .ngb-dp-navigation-chevron {
                    transform: rotate(225deg);
                }
            }
        }
    }

}

button.back-button {
    border: 2px solid #383838;
    border-radius: 50px;
    height: 36px;
    line-height: 32px;
}

.form-control {
    color: #000000;
    &:not([type="search"]) {
        border-color: #4b74ff;
    }
}

input.form-control:not([type="search"]), textarea.form-control {
    // background-color: #f7f9fc;
    // border-color: #e4e9f2;

    background-color: #ffffff;
    border-color: #4b74ff;
    border-radius: 10px;
    height: calc(1.5em + 0.75rem + 12px);
    &:focus{
        background-color: #fff;
        border-color: #36f;
        box-shadow: none;
    }
}
textarea.form-control {
    // height: 138px;
    height: 90px;
}

ng-select.ng-select {
    // height: 48px;
    .ng-select-container {
        min-height: 46px !important;
        background-color: #fff !important;
        box-shadow: none;
        border: 1px solid #4b74ff !important;
        // background-color: #f7f9fc!important;
        // border-color: #e4e9f2!important;
    }
}

nav.app-nav {
    position: sticky;
    top: 0;
    // background-color: #fff;
    background-color: rgba(186,230,198,.04);
    padding: 8px 16px ;
    z-index: 5;
    button.menu-button {
        border-radius: 50px;
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 36px;
        height: 36px;
        img {
            width: 18px;
        }
    }
    // &:after {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     height: 2px;
    //     background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==)
    // }
}

ngb-datepicker {
    right: initial !important;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.45) !important;
    border-radius: 15px !important;;
}
  
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.15) !important;
}
  
  
::-webkit-scrollbar {
    width: 6px;
    height: 6px !important;;
}

mat-tab-group  {
    mat-tab-header {
        .mat-tab-label{
            position: relative;
            &.mat-tab-label-active{
                opacity: 1;
                &::after {
                    background-color: #3f51b5;
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    z-index: 1;
                }
            }
        }
        mat-ink-bar {
            display: none;
        }
    }
}

.mat-option-text {
    font-size: 16px;
}
mat-card {
    mat-card-title.mat-card-title {
        font-size: 16px;
    }

    .space {
        width: 30px;
    }
    mat-form-field.mat-form-field {
        font-size: 10px;
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
        input,textarea, .mat-select-min-line  {
            font-size: 16px;
        }
        textarea {
            font-size: 16px;
            min-height: 50px; 
        }
        label.mat-form-field-label {
            font-size: 14px;
            top: 1.4em !important;
        }
        mat-icon {
            font-size: 22px !important;
        }
        &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            transform: translateY(-1.12em) scale(0.75) !important;
        }
    }
}

.round {
    border-radius: 100px !important;
}

//Colors
button.mat-raised-button.mat-primary {
    background-color: var(--main-color);
}
button.mat-button.mat-primary {
    color: var(--main-color);
}

mat-dialog-container.mat-dialog-container {
    padding: 0;
    mat-card {
        min-width: 800px ;
        padding: 0;
        mat-card-title {
            padding: 20px 22px 14px 22px;
            border-bottom: 1px solid #eaeaea;
        }
        mat-card-content {
            padding: 15px 30px;
            .row {
                margin-bottom: 32px;
            }
            mat-form-field {
                width: 100%;
                background-color: #EDF1F7;
                .mat-form-field-wrapper{
                    margin: 0;
                }
                abp-validation-error {
                    .invalid-feedback {
                        font-size: 14px;
                    }
                }
            }
        }
        mat-card-actions {
            button {
                min-width: 90px;
            }
        }
    }
}

.header-pipe {
    display: block;
    padding: 2px 10px;
    border-left: 2px solid #000000;
    font-size: 16px;
    font-weight: bold;
    &.no {
        padding: 2px 11px;
        border-left: none;
        border-right: none;
    }
}

body[dir="rtl"] {
    .header-pipe {
        border-right: 2px solid #000000;
        border-left:none;
    }
    .back-button {
        mat-icon {
            transform: rotate(180deg);
        }
    }
}

ng-select.ng-select.ng-select-multiple {
    &.ng-select-disabled {
        .ng-select-container .ng-value-container .ng-value {
            background-color: transparent;
            color: var(--main-color);
        }
    }

    .ng-select-container .ng-value-container .ng-value {
        border: 1px solid var(--main-color);
        background-color: transparent;
        color: var(--main-color);
        border-radius: 100px;
        padding: 7px 14px;
        .ng-value-icon {
            color: var(--main-color) !important;
            font-size: 20px;
        }
    }
}

mat-card.global-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    mat-card-title{
        color: #2C3254;
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0;
    }
    mat-card-content{
        flex: 1;
        text-align: center;
        button{
            color: var(--main-color);
            font-size: 20px;
            width: 55px;
            height: 55px;
            padding: 0;
            font-size: 32px;
            border-radius: 100px;
            min-width: auto;
            margin: 26px 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    mat-card-actions {
        padding-bottom: 16px !important;
        button{
            color: var(--main-color);
            font-size: 20px;
            min-width: auto;
            padding: 0;
            width: 45px;
            height: 45px;
            margin-left: 5px !important;
            border-radius: 50px ;
            margin-right: 5px !important;
        }
    }
}

.ltr {
    direction: ltr;
    text-align: left;
}
.rtl {
    direction: rtl;
    text-align: right;
}

button.add-btn {
    // background-color: transparent;
    // color: #19ad3e;
    // border: 2px solid #19ad3e;
    // padding-left: 18px;
    // padding-right: 18px;
    // font-weight: bold;

    background-color: transparent;
    color: #1CAE40;
    border: 1px solid rgba(0,0,0, .12);
    padding-left: 18px;
    padding-right: 18px;
    font-weight: bold;
    border-radius: 50px;

    .line {
        border-left: 1px solid #19ad3e;
        height: 14px;
        display: inline-block;
    }
}
button.add-raised-btn {
    background-color: #1CAE40;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    border-radius: 50px;
    font-size: 14px;
}
button.delete-btn {
    border-radius: 50px;
    box-shadow: none;
}

button.add-blue {
    background-color: #3B76B1;
    color: #fff;
}

button.status {
    color: #fff;
    border-radius: 50px;
    height: 30px;
    line-height: 30px;
    background: #A4ABB6;
    &.Active {
        background: var(--main-color);
    }
    &.Inactive {
        background: #f44336;
    }
}
.space {
    width: 32px;
    display: inline-block;
}

button.button {
    color: #fff;
    font-size: 16px;
    width: 100px;
    border-radius: 100px;
    &.blue {
        background-color: #19ad3e;
    }
    &.red {
        background-color: #DE3C31;
    }
    &.green {
        background-color: #43a047;
    }
}

ngb-datepicker-navigation {
    .ngb-dp-arrow{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.ck-editor__editable_inline {
    min-height: 400px;
}

.ck.ck-content {
    border: 1px solid #ced4da !important;
}


.actions, .actions.mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: end;
    button {
        min-width: 100px;
        margin: 0 10px;
        &.secondary {
            color: #fff;
            background-color: #5a6268;
            border-color: #545b62;
        }
        &.primary {
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
        }
        &.danger {
            color: #fff;
            background-color: #DE3C30;
            border-color: #cc382d;
        }
        &.send {
            color: #fff;
            background-color: #00897b;
            border-color: #0a9688;
        }
    }
}