
body[dir="rtl"] {
    .abp-toast-close-button {
        left: 0;
        right: auto !important;
    }
}

nav.app-nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 8px 16px ;
    z-index: 5;
    button.menu-button {
        border-radius: 50px;
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 36px;
        height: 36px;
        img {
            width: 18px;
        }
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==)
    }
}

ngb-datepicker {
    right: initial !important;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.45) !important;
    border-radius: 15px !important;;
}
  
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.15) !important;
}
  
  
::-webkit-scrollbar {
    width: 6px;
    height: 6px !important;;
}

ngx-datatable {
    .datatable-header .datatable-header-cell.resizeable .resize-handle {
        visibility: visible;
        border-color: #ddd;
    }
    datatable-body-cell, datatable-header-cell {
        text-align: center !important;
    }
    datatable-scroller {
        display: block !important;
    }


    datatable-body-cell {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}

mat-tab-group  {
    mat-tab-header {
        .mat-tab-label{
            position: relative;
            &.mat-tab-label-active{
                opacity: 1;
                &::after {
                    background-color: #3f51b5;
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    z-index: 1;
                }
            }
        }
        mat-ink-bar {
            display: none;
        }
    }
}