<div class="d-flex   justify-content-start align-items-center ps-3 mb-2" *ngIf="mode == FormMode.Create ">
    <div>
        <mat-icon>arrow_forward</mat-icon>
    </div>


    <a href="#" class="bread_crumb_item">
        {{ "::Policy:Home" | abpLocalization }}
    </a>

    / 

    <a [routerLink]="['/policy/documents']" class="bread_crumb_item">
        {{ ":::Policy:Policies" | abpLocalization }}
    </a>

    /

    <a  [routerLink]="['/policy/documents']" class="bread_crumb_item">
        {{ ":::Policy:DocumentManagement" | abpLocalization }}
    </a>

    /
    
    <a href="#" class="bread_crumb_item">
        {{ ":::Policy:AddDocument" | abpLocalization }}
    </a>
</div>

<h2>
    {{ ('::' + mode)  | abpLocalization}}
    {{ "::Policy:Document" | abpLocalization }}
</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <div class="info">
        <div class="section-header mb-4">
            <span>1</span>
            <h3>
                معلومات عامة
            </h3>
        </div>
       

        <div class="row">
            <ng-container *ngIf="mode == FormMode.Edit">
                <div class="col-md-6 form-group">
                    <label for="name">{{ "::Policy:Code" | abpLocalization }}</label>
                    <input type="text" id="name" class="form-control " formControlName="code" />
                </div>
                <div class="col-md-6"></div>
            </ng-container>

            <div class="col-md-6 form-group">
                <label for="name">{{ "::Policy:DocumentName" | abpLocalization }}</label>
                <span> * </span>
                <input type="text" id="name" class="form-control " formControlName="nameAr" />
            </div>
            <div class="col-md-6 form-group">
                <label for="type">
                    {{ "::Policy:DocumentType" | abpLocalization }}
                </label>
                <span> * </span>
                <ng-select id="type" class="d-block" [searchable]="false" formControlName="type" [clearable]="true">
                    <ng-option *ngFor="let item of PolicyType | keyvalue" [value]="item.value?.value">
                        {{ "::Policy:"+item.value?.key | abpLocalization }}
                    </ng-option>
                </ng-select>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label for="categoryIds">{{ "::Policy:Categories" | abpLocalization }}</label><span> * </span>
                    <ng-select id="categoryIds" class="d-block" [searchable]="false" formControlName="categoryIds" multiple="true" [clearable]="true">
                        <ng-option *ngFor="let cat of AllCategories" [value]="cat.id">{{cat?.nameAr}}</ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="col-md-12 form-group">
                <label for="description">{{ "::Policy:Description" | abpLocalization }}</label><span> * </span>
                <textarea class="form-control" rows="5" id="description" formControlName="description"></textarea>
            </div>
        </div>


        <div class="section-header mb-4 mt-3">
            <span>2</span>
            <h3>
                معلومات الصلاحية
            </h3>
        </div>

        <div class="row">
            <div class="col-md-6 form-group" >
                <label for="validationStartDate">{{ "::Policy:validationStartDate" | abpLocalization }}</label>
                <input #complianceDate="ngbDatepicker" class="form-control" id="validationStartDate"
                    formControlName="validationStartDate" ngbDatepicker (click)="complianceDate.toggle()" />
            </div>

            <div class="col-md-6 form-group" >
                <label for="validationEndtDate">{{ "::Policy:validationEndDate" | abpLocalization }}</label>
                <input #complianceDate2="ngbDatepicker" class="form-control" id="validationEndtDate"
                    formControlName="validationEndtDate" ngbDatepicker (click)="complianceDate2.toggle()" />
            </div>
        </div>


        <div class="section-header mb-4 mt-3">
            <span>3</span>
            <h3>
                معلومات الأشخاص
            </h3>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label for="ownersIds">{{ "::Policy:DocumentOwners" | abpLocalization }}</label><span> * </span>
                <ng-select id="ownersIds" class="d-block" [searchable]="false" formControlName="ownersIds"
                    multiple="true" [clearable]="true">
                    <ng-option *ngFor="let emp of allEmployees" [value]="emp.id">{{emp?.fullName}}</ng-option>
                </ng-select>
            </div>


            <div class="col-md-12 form-group">
                <label for="reviewersIds">{{ "::مراجعون أساسيين" | abpLocalization }}</label><span> * </span>
                <ng-select id="reviewersIds" class="d-block" [searchable]="false" multiple="true" 
                    formControlName="reviewersIds" [clearable]="true">
                    <ng-option *ngFor="let emp of allEmployees" [value]="emp.id">{{emp?.fullName}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-12 form-group">
                <label for="reviewersIds">{{ "::مراجعون اختياريين" | abpLocalization }}</label><span> * </span>
                <ng-select id="reviewersIds" class="d-block" [searchable]="false" multiple="true" 
                    formControlName="reviewersIds" [clearable]="true">
                    <ng-option *ngFor="let emp of allEmployees" [value]="emp.id">{{emp?.fullName}}</ng-option>
                </ng-select>
            </div>


            <div class="col-md-12 form-group">
                <label for="reviewersIds">{{ "::معتمدون أساسيين" | abpLocalization }}</label><span> * </span>
                <ng-select id="approversIdss" class="d-block" [searchable]="false" formControlName="approversIds" *ngIf="allEmployees"
                    multiple="true" [clearable]="true">
                    <ng-option *ngFor="let emp of allEmployees" [value]="emp.id">{{emp?.fullName}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-12 form-group">
                <label for="reviewersIds">{{ "::معتمدون اختياريين" | abpLocalization }}</label><span> * </span>
                <ng-select id="approversIdss" class="d-block" [searchable]="false" formControlName="approversIds" *ngIf="allEmployees"
                    multiple="true" [clearable]="true">
                    <ng-option *ngFor="let emp of allEmployees" [value]="emp.id">{{emp?.fullName}}</ng-option>
                </ng-select>
            </div>
        </div>


        <div class="d-flex actions align-items-center mb-4">
            <button mat-raised-button color="primary" class="save m-3" type="submit">
                {{ 'AbpAccount::Save' | abpLocalization }}
            </button>
            <a mat-raised-button class="m-3" color="warn" routerLink="/policy/documents/list">
                {{ 'AbpAccount::Cancel' | abpLocalization }}
            </a>
        </div>

    </div>

</form>