h2 {
    border-radius: 6px 0;
    background-color: var(--main-color);
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 4px 22px;
    margin: 1rem 0 2rem 0;
    
}

.section-header {
    display: flex;
    align-items: center;
    padding: 3px 20px;
    background: #E9EFEC;
    width: calc(100% + 28px);
    margin-right: -14px;
    margin-left: -14px;
    span {
        width: 45px;
        height: 45px;
        border: 2px solid var(--main-color);
        text-align: center;
        line-height: 43px;
        border-radius: 50%;
        font-size: 27px;
        font-weight: bold;
        color: var(--main-color);
        background: #fff;
        font-family: arial;
    }
    h3 {
        margin: 0 1rem;
        color: #000000;
        font-weight: bold;
        font-size: 20px;
        line-height: 19px;
    }
}

.info {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding-left: 13px;
    padding-right: 13px;
    width: calc(100% - 16px);
    margin-right: auto;
    background: #FFFFFF;
    .card-top {
        background: var(--main-green);
        color: #fff;
        padding: 12px 32px 12px;
        border-radius: 8px;
        margin-right: -13px;
        width: calc(100% + 26px);
        margin-bottom: 1rem;
        h3 {
            margin-bottom: 0;
           
        }
    }

    &>div {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        div {
            // padding: 12px 16px;
            span {
                color: #8D8D8D;
                font-size: 14px;
            }
            h4 {
                color: #0C4442;
            }
            

            
            span.status {
                color: #21D500;
                font-weight: bold;
                margin-bottom: 16px;
                &::after{
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: #21D500;
                    display: inline-block;
                    border-radius: 8px;
                    margin-left: 5px;
                    margin-right: 5px;
                }
                &.Inactive {
                    color:#FF0000;
                    &::after{
                        background:#FF0000;
                    }
                }
            }
        }
    }
}

// .customClass .ng-select-container {
//     height: 40px!important;;
//     min-height: 40px !important;
//     border: 2px solid #ccc!important;
// }

// ng-select {
//      .ng-select.ng-select-multiple ::ng-deep {
//         .ng-select-container{
//             height: 40px!important;;
//             min-height: 40px !important;
//             border: 2px solid #ccc!important;
//             .ng-value-container .ng-value{
//                 padding: 2px 14px!important;
//                 background-color: #336b82!important;
//                 color: #fff!important;
//                 border: 1px solid #ccc!important;

//             }
//         }
//         .ng-value-icon{
//             float: left!important;
//             border: 0!important;
//             top: 2px!important;
//             position: relative!important;
//             color:#fff!important;
//             background:transparent!important;
//         }
//     } 
// }


// input.form-control{
//     height: auto!important;
//     border-radius: 5px;
//     border: 2px solid #ccc;
// }

// .form-control{
//     border: 2px solid #ccc;
// }

.bread_crumb_item{
    text-decoration: none!important;
    color: #ccc!important;
    margin: 0 10px;
}




ng-select.ng-select.ng-select-multiple ::ng-deep .ng-select-container .ng-value-container .ng-value{
    padding: 2px 14px!important;
    background-color: #336b82!important;
    color: #fff!important;
    border: 1px solid #ccc!important;
    display: flex!important;
}

ng-select.ng-select.ng-select-multiple ::ng-deep .ng-select-container .ng-value-container .ng-value-icon{
   /*  float: left!important; */
    border: 0!important;
    top: 2px!important;
    position: relative!important;
    color:#fff!important;
    background:transparent!important;
}

.actions {
    button, a {
        border-radius: 4px;
    }
}