<form [formGroup]="form" (ngSubmit)="save()">
  <div class="d-flex justify-content-end mb-3">
    <button mat-stroked-button *ngIf="form.disabled; else showActions" (click)="setFormEnable()">
      <i class="far fa-edit"></i>
    </button>
    <ng-template #showActions>
      <button mat-stroked-button color="primary" class="mr-3" type="submit" [disabled]="uploading">
        {{ '::Save' | abpLocalization }}
      </button>

      <button mat-stroked-button type="button" color="warn" (click)="form.disable()">
        {{ '::Cancel' | abpLocalization }}
      </button>
    </ng-template>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="header-pipe">
        المرجع
      </div>
      <label>
        {{control.reference}}
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="header-pipe">
        التفاصيل
      </div>
      <label>
        {{control.descriptionAr}}
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="header-pipe">
        قابلية التطبيق
      </div>
    </div>
    <div class="col-md-4">
      <div class="beneath">
        <span *ngIf="form.controls.applicable.disabled; else showSelect">
          {{ (form.controls.applicable.value? '::Enum:ApplicableType:' + form.value.applicable : '')| abpLocalization }}
        </span>
        <ng-template #showSelect>
          <ng-select formControlName="applicable" [searchable]="false" [clearable]="true">
            <ng-option *ngFor="let applicableTypeOption of applicableTypeOptions" [value]="applicableTypeOption.value">
              {{applicableTypeOption.name}}
              {{'::Enum:ApplicableType:'+applicableTypeOption.value | abpLocalization}}
            </ng-option>
          </ng-select>
        </ng-template>
      </div>
    </div>
  </div>

  <ng-container *ngIf="form.controls.applicable.value === 1">
    <div class="row">
      <div class="col-md-4">
        <div class="header-pipe">
          مستوى الامتثال
        </div>
        <div>
          <span *ngIf="form.controls.complianceLevel.disabled; else complianceLevelSelect">
            {{(form.controls.complianceLevel.value?'::Enum:ComplianceLevel:'+form.controls.complianceLevel.value:'') | abpLocalization}}
          </span>
          <ng-template #complianceLevelSelect>
            <ng-select formControlName="complianceLevel" [searchable]="false" [clearable]="true">
              <ng-option *ngFor="let complianceLevelTypeOption of complianceLevelTypeOptions"
                [value]="complianceLevelTypeOption.value">
                {{'::Enum:ComplianceLevel:'+complianceLevelTypeOption.value | abpLocalization}}
              </ng-option>
            </ng-select>
          </ng-template>
        </div>

      </div>
      <div class="col-md-4">
        <div class="header-pipe">
          تاريخ الامتثال
        </div>
        <input #datepicker="ngbDatepicker" class="form-control" name="complianceDate" formControlName="complianceDate"
          ngbDatepicker (click)="complianceDate.toggle()" />
      </div>

      <div class="col-md-4">
        <div class="header-pipe">
          تاريخ الامتثال التالي
        </div>
        <input #datepicker="ngbDatepicker" class="form-control" name="nextComplianceDate" formControlName="nextComplianceDate"
          ngbDatepicker (click)="nextComplianceDate.toggle()" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="header-pipe">
          المتطلبات
        </div>
      </div>
      <div class="col-md-4">
        <div class="beneath">
          موثق
        </div>
        <div>
          <span *ngIf="form.controls.documented.disabled; else documentedSelect">
            {{(form.controls.documented.value?'::Enum:DocumentedType:'+form.controls.documented.value:'') | abpLocalization}}
          </span>
          <ng-template #documentedSelect>
            <ng-select formControlName="documented" [searchable]="false" [clearable]="true">
              <ng-option *ngFor="let documentedTypeOption of documentedTypeOptions"
                [value]="documentedTypeOption.value">
                {{'::Enum:DocumentedType:'+documentedTypeOption.value | abpLocalization}}
              </ng-option>
            </ng-select>
          </ng-template>
        </div>
      </div>
      <div class="col-md-4">
        <div class="beneath">
          منفذ
        </div>
        <div>
          <span *ngIf="form.controls.implemented.disabled; else executedSelect">
            {{(form.controls.implemented.value?'::Enum:ImplementedType:'+form.controls.implemented.value:'') | abpLocalization}}
          </span>
          <ng-template #executedSelect>
            <ng-select formControlName="implemented" [searchable]="false" [clearable]="true">
              <ng-option *ngFor="let implementedTypeOption of implementedTypeOptions"
                [value]="implementedTypeOption.value">
                {{'::Enum:ImplementedType:'+implementedTypeOption.value | abpLocalization}}
              </ng-option>
            </ng-select>
          </ng-template>
        </div>
      </div>
      <div class="col-md-4">
        <div class="beneath">
          فعال
        </div>
        <div>
          <span *ngIf="form.controls.effective.disabled; else effectiveSelect">
            {{(form.controls.effective.value?'::Enum:EffectiveType:'+form.controls.effective.value:'') | abpLocalization}}
          </span>

          <ng-template #effectiveSelect>
            <ng-select formControlName="effective" [searchable]="false" [clearable]="true">
              <ng-option *ngFor="let effectiveTypeOption of effectiveTypeOptions" [value]="effectiveTypeOption.value">
                {{'::Enum:EffectiveType:'+effectiveTypeOption.value | abpLocalization}}
              </ng-option>
            </ng-select>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="header-pipe no">
          التعليقات
        </div>
        <textarea formControlName="comment" class="form-control"></textarea>
        <!-- <p class="beneath">
                    تعليق تجريبي تعليق تجريبي تعليق تجريبي تعليق تجريبي تعليق تجريبي تعليق تجريبي تعليق تجريبي تعليق تجريبي تعليق تجريبي
                </p> -->
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="header-pipe no">
          المسؤولين عن الضابط
        </div>
        <p class="beneath">
          <ng-select formControlName="responsibles" [multiple]="true" [items]="employees" bindLabel="fullName"
            bindValue="id">
          </ng-select>
        </p>
      </div>
    </div>

    <app-table-files [attachmentId]="form.controls.attachmentId.value" [disabled]="form.controls.attachmentId.disabled" (OnFileUploaded)="OnFileUploaded($event)" (OnFileBeginUpload)="OnFileBeginUpload($event)" (OnFileEndUpload)="OnFileEndUpload($event)">
    </app-table-files>

  </ng-container>

</form>
