ul {
    padding: 0;
    margin: 0;
}

:host {
    .mat-spinner {
        margin: auto;
            ::ng-deep  circle{
            stroke: var(--main-color);
        }
    }


    ::ng-deep .ngx-datatable .datatable-header .datatable-row-center{ 
        background-color: grey !important;
        .datatable-header-cell {
            background-color: grey !important;
        }
    }
    // ngx-datatable ::ng-deep{
    //     datatable-body-row {
    //         cursor: pointer;
    //     }
    // }
}