<ngx-datatable *ngIf="items; else showLoader" class="material fullscreen" #dataTable [rows]="items" [count]="totalCount" [list]="list"
    (activate)="activate($event)" appNgxdatatable>
    <ngx-datatable-column [name]="'::DomainReference' | abpLocalization" prop="reference">
    </ngx-datatable-column>
    <ngx-datatable-column [name]="'::DomainNameAr' | abpLocalization" prop="nameAr"></ngx-datatable-column>
    <ngx-datatable-column [name]="'::DomainNameEn' | abpLocalization" prop="nameEn"></ngx-datatable-column>
    <ngx-datatable-column [name]="'::DomainDepartment' | abpLocalization" prop="departments">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <ul>
                <li *ngFor="let deparment of value">{{deparment.name}}</li>
            </ul>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [name]="'::DomainStatus' | abpLocalization" prop="status">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ ( '::Enum:SharedStatus:' + value ) | abpLocalization }}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [name]="'::FrameworkLastUpdate' | abpLocalization" prop="lastModificationTime">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{value | date}}">{{value | fromNow}}</span>
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false"
        cellClass="options">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button *abpPermission="'ComplianceSystem.Domain.Delete'" mat-button color="warn"
                (click)="$event.stopPropagation();delete(row)">
                <mat-icon>delete_forever</mat-icon>
            </button>
            <button *abpPermission="'ComplianceSystem.Domain.Update'" mat-button
                (click)="$event.stopPropagation();openDomainDialog(row)">
                <mat-icon>edit</mat-icon>
            </button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

<ng-template #showLoader>
    <mat-spinner [diameter]="40" [strokeWidth]="3"></mat-spinner>
</ng-template>


<ng-template #domainDialog let-data let-ref="dialogRef">
    <app-create-domain [data]="data.data" [ref]="ref" [mode]="data.mode" [frameworkId]="frameworkId" [mainDomain]="data.mainDomain"></app-create-domain>
</ng-template>
