<form [formGroup]="form">
    <div class="row">
        <div class="col-md-6 form-group">
            <label>
                مستوى الخطر
            </label>
            <ng-select formControlName="riskContext">
                <ng-option *ngFor="let item of  [1,2,3]">
                    مستوى الخطر
                    {{item}}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-6 form-group">
            <label>
                معالجة الخطر
            </label>
            <input type="text" id="nameAr" class="form-control" formControlName="riskTreatmentOption" />
        </div>
    </div>
</form>