<h3>
    {{ '::FrameWorkDetails' | abpLocalization }}
  </h3>
  <div class="details-table-cont">
    <table class="table">
      <tr>
        <td colspan="4" *ngIf="userId == frameWorkData?.ownerId && inCompliance">
          <mat-slide-toggle [checked]="" (toggleChange)="toggleChange($event)">
            هل يوجد أهمية للضوابط الرئيسة و الضوابط الفرعية
            <!-- if there is a priority for controls and sub controls -->
          </mat-slide-toggle>
        </td>
      </tr>
      <tr>
        <td>
          {{ '::FrameWork:Owner' | abpLocalization }}
        </td>
        <td>
          {{ frameWorkData?.ownerName }}
        </td>
        <td>{{ '::CompliancePercentage' | abpLocalization }}</td>
        <td>
          {{ frameWorkData?.compliancePercentage }}
        </td>
      </tr>
      <tr>
        <td>
          {{ '::FrameworkShortcutAr' | abpLocalization }}
        </td>
        <td>
          {{ frameWorkData?.shortcutAr }}
        </td>
        <td>
          {{ '::FrameworkShortcutEn' | abpLocalization }}
        </td>
        <td>
          {{ frameWorkData?.shortcutEn }}
        </td>
      </tr>
      <tr>
        <td>
          {{ '::FrameworkDescriptionAr' | abpLocalization }}
        </td>
        <td>
          {{ frameWorkData?.descriptionAr }}
        </td>
        <td>
          {{ '::FrameworkDescriptionEn' | abpLocalization }}
        </td>
        <td>
          {{ frameWorkData?.descriptionEn }}
        </td>
      </tr>
      <ng-container *ngIf="inCompliance">
        <tr>
            <td>
              {{ '::SelfAssessmentStartDate' | abpLocalization }}
            </td>
            <td>
              {{ frameWorkData?.selfAssessmentStartDate | date : dateTimeFormat }}
            </td>
            <td>
              {{ '::SelfAssessmentEndDate' | abpLocalization }}
            </td>
            <td>
              {{ frameWorkData?.selfAssessmentEndDate | date : dateTimeFormat }}
            </td>
          </tr>
          <tr>
            <td>
              {{ '::InternalAssessmentStartDate' | abpLocalization }}
            </td>
            <td>
              {{ frameWorkData?.internalAssessmentStartDate | date : dateTimeFormat }}
            </td>
            <td>
              {{ '::InternalAssessmentEndDate' | abpLocalization }}
            </td>
            <td>
              {{ frameWorkData?.internalAssessmentEndDate | date : dateTimeFormat }}
            </td>
          </tr>
      </ng-container>
      <tr>
        <td>
          {{ '::ReviewStartDate' | abpLocalization }}
        </td>
        <td>
          {{ frameWorkData?.reviewStartDate | date : dateTimeFormat }}
        </td>
        <td>
          {{ '::ReviewEndDate' | abpLocalization }}
        </td>
        <td>
          {{ frameWorkData?.reviewEndDate | date : dateTimeFormat }}
        </td>
      </tr>
      <tr>
        <td>
          {{ '::ApprovalDate' | abpLocalization }}
        </td>
        <td [attr.colspan]="inCompliance ? 1 : 3">
          {{ frameWorkData?.reviewEndDate | date : dateTimeFormat }}
        </td>
        <ng-container *ngIf="inCompliance">
            <td>
              {{ '::ComplianceStatus' | abpLocalization }}
            </td>
            <td>
              {{ '::' + ComplianceStatus[frameWorkData?.complianceStatus] | abpLocalization }}
            </td>
        </ng-container>
      </tr>
      <tr>
        <td> {{ '::Reviewer' | abpLocalization }} </td>
        <td>
          {{ frameWorkData?.reviewUserName }}
        </td>
        <td> {{ '::UserApprover' | abpLocalization }} </td>
        <td>
          {{ frameWorkData?.approveUserName }}
        </td>
      </tr>
      <tr>
        <td>{{ '::Departments' | abpLocalization }}</td>
        <td colspan="3">
          {{ frameWorkData?.managementName }}
        </td>
      </tr>
      <tr>
        <td>{{ '::WorkTeamMembers' | abpLocalization }}</td>
        <td colspan="3">
          <mat-chip-list>
            <mat-chip *ngFor="let emp of frameWorkData?.frameworkEmpsDto">
              {{ emp.employeeName }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </tr>
     
    </table>
  </div>