<mat-card>
    <mat-card-title>
        Question
    </mat-card-title>
    <mat-card-content>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-form-field" appearance="fill" validationContainer>
                        <mat-label>اسم السؤال بالعربى</mat-label>
                        <input matInput type="text" >
                    </mat-form-field> 
                </div>
                <div class="col-md-6 form-group">
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>اسم السؤال بالإنجليزى</mat-label>
                        <input matInput type="text" >
                    </mat-form-field> 
                </div>
                <div class="col-md-6">
                    <ng-select>
                        <ng-option>
                            dsds
                        </ng-option>
                    </ng-select>
                </div>
                
            </div>
        </form>
    </mat-card-content>
</mat-card>