// section {
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: rgba(0,0,0, .15);
//     mat-card {
//         padding: 2rem 4rem;
//         text-align: center;
//         min-width: 350px;
//         mat-card-header.mat-card-header {
//             justify-content: center;
//         }
//         mat-card-content {
//             margin: 1rem 0;
//         }
//         button {
//             color: var(--main-color);
//         }
//     }
// }

mat-dialog-content {
    min-width: 300px;
    mat-icon {
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
    }
    p {
        font-size: 16px;
        max-width: 500px;
        color: #575757;
        margin-top: 20px;
        margin-bottom: 0;
    }
}

// mat-dialog-actions {
//     margin-top: 1rem;
// }