<!-- <section>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        {{ '::Error' | abpLocalization }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ ( '::ErrorMsg:' + errorStatus ) | abpLocalization }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/">
        {{ '::BackToHome' | abpLocalization }}
      </button>
    </mat-card-actions>
  </mat-card>
</section> -->

<mat-dialog-content>
  <div class="dialog-container">
    <div class="d-flex align-items-center">
      <mat-icon *ngIf="showIcon" class="warn-icon" [color]="iconColor">
        {{iconName}}
      </mat-icon>
      <h2 mat-dialog-title class="mb-0">
        {{ title | abpLocalization }}
        <!-- {{ '::Error' | abpLocalization }} -->
      </h2>
    </div>
    <p mat-dialog-title>
      {{ content | abpLocalization }}
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="mb-2">
  <!-- <button mat-button mat-dialog-close [mat-dialog-close]="false" routerLink="/home">
    {{ '::Cancel' | abpLocalization }}
  </button> -->
  <button mat-raised-button color="primary" [mat-dialog-close]="true" routerLink="/home">
    {{ '::Back' | abpLocalization }}
  </button>
</mat-dialog-actions>
