<div class="row">
    <div class="col-md-12 form-group">
        <label >
            النوع
        </label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button [value]="1">مخاطر</mat-radio-button>
            <span class="space"></span>
            <mat-radio-button [value]="2">فرصة</mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="col-md-6 form-group">
        <label for="">
            الموافقة بواسطة
        </label>
        <input type="text" id="TitleAr" class="form-control" />
    </div>
    <div class="col-md-6 form-group">
        <label for="">
            مراجعة حالة التقييم
        </label>
        <input type="text" id="TitleAr" class="form-control" />
    </div>


    <div class="col-md-12 form-group">
        <label for="">
          الملاحظات
        </label>
        <textarea type="text" id="TitleAr" class="form-control" ></textarea>
    </div>
</div>