<form [formGroup]="form">
    <div class="row">
        <div class="col-md-6 form-group">
            <label>
                {{ '::Acceptance' | abpLocalization }}
                <span> * </span>
            </label>
            <mat-radio-group formControlName="acceptance">
                <mat-radio-button [value]="true">{{ '::yes' | abpLocalization }}</mat-radio-button>
                <span class="space"></span>
                <mat-radio-button [value]="false">{{ '::no' | abpLocalization }}</mat-radio-button>
            </mat-radio-group>
        </div>


        <div class="col-md-6 form-group">
            <label>
                {{ '::Status' | abpLocalization }}
                <span> * </span>
            </label>
            <mat-radio-group formControlName="status" color="primary">
                <mat-radio-button [value]="Status.Open" >
                    {{ '::Status:Open' | abpLocalization }}
                </mat-radio-button>
                <span class="space"></span>
                <mat-radio-button [value]="Status.Close">
                    {{ '::Status:Close' | abpLocalization }}
                </mat-radio-button>
            </mat-radio-group>
        </div>


        <div class="col-md-6 form-group">
            <label for="acceptanceApprovedby">
                {{ '::AcceptedBy' | abpLocalization }}
                <span> * </span>
            </label>
            <ng-select formControlName="acceptanceApprovedby">
                <ng-option *ngFor="let user of users" [value]="user.id">
                    {{user.name}}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-6 form-group">
            <label for="reviewControlAssessment">
                {{ '::EvaluationStatusReview' | abpLocalization }}
                <span> * </span>
            </label>
            <input type="text" id="reviewControlAssessment" class="form-control" formControlName="reviewControlAssessment" />
        </div>
    
    
        <div class="col-md-12 form-group">
            <label for="reviewRemarks">
              {{ '::Notes' | abpLocalization }}
            </label>
            <textarea type="text" id="reviewRemarks" class="form-control"  formControlName="reviewRemarks"></textarea>
        </div>
    </div>
</form>