<div class="d-flex   justify-content-start align-items-center ps-3">
    <div>
        <mat-icon>arrow_forward</mat-icon>
    </div>

    
    <a href="#" class="bread_crumb_item">
        {{ "::Policy:Home" | abpLocalization }}
    </a>

    / 

    <a [routerLink]="['/policy/documents']" class="bread_crumb_item">
        {{ ":::Policy:Policies" | abpLocalization }}
    </a>

    /

    <a  [routerLink]="['/policy/documents']" class="bread_crumb_item">
        {{ ":::Policy:DocumentManagement" | abpLocalization }}
    </a>

    /
    
    <a href="#" class="bread_crumb_item">
        {{ ":::Policy:DocumentView" | abpLocalization }}
    </a>
</div>


<div class="info">

    <div class="card-top">
      <h3>
        {{ "::Policy:DocumentTitle" | abpLocalization }}
      </h3>
    </div>

    <div>

      <div>
        <span>
          {{ "::Policy:DocumentCode" | abpLocalization }}
        </span>
        <h4>
            {{ documentData?.code }}
         
        </h4>
      </div>

      
    <div>
        <span>
          {{ "::Policy:DocumentOwner" | abpLocalization }}
        </span>
        <h4>
            <span  *ngFor="let item of documentData?.ownersIds" class="badge m-1">{{item?.employeeName}}</span>
        </h4>
    </div>

    <div>
        <span>
            {{ '::CreationTime' | abpLocalization }}
        </span>
        <h4>
            {{ documentData?.creationTime | date : 'yyyy/MM/dd' }}
        </h4>
    </div>

    <div>
        <span>
            {{ '::Policy:CompliancePercentage' | abpLocalization }}
        </span>
        <span >
            {{ documentData?.compliancePercentage }}
        </span>
    </div>

    <div>
        <span>
            {{ '::Policy:Status' | abpLocalization }}
        </span>
        <span class="status" [class]="PolicyStatus[documentData?.status]">
            {{ ( '::Enum:SharedStatus:' + documentData?.status  ) | abpLocalization }}
        </span>
    </div>
 
    </div>
  </div>


  <div class="tabs d-flex align-items-center p-3">
    <button mat-raised-button routerLink="details" routerLinkActive="active">
        {{ '::Policy:DocumentInformation' | abpLocalization }}
    </button>
    <button mat-raised-button routerLink="settings" routerLinkActive="active" >    
        {{ '::Policy:DocumentSettings' | abpLocalization }}
    </button>
    <!-- <button mat-raised-button routerLink="revision-approve" routerLinkActive="active" >
        {{ '::الموافقات و الأعتمادات' | abpLocalization }}
    </button> -->
    <button mat-raised-button routerLink="activities" routerLinkActive="active" >
        {{ '::Policy:DocumentActivities' | abpLocalization }}
    </button>
    
  </div>

  <div class="p-3">
    <router-outlet (activate)="changeRoute($event)" *ngIf="documentData"></router-outlet>
  </div>