:host {
    ngx-datatable ::ng-deep{
        datatable-body-row {
            cursor: pointer;
        }
       
    }
    ngx-datatable.hide-content ::ng-deep{
        datatable-header, datatable-body {
            display: none;
        }
        datatable-footer {
            border-top: none;
        }
    } 
}

.visible-content {
    button {
        font-size: 22px;
        padding-left: 8px;
        padding-right: 8px;
        min-width: auto;
        color: #A5B1C2;
        &.active {
            color: #34ACE0;
        }
    }
}

.card-cont {
    padding-left: 5px;
    padding-bottom: 5px;
   
}
