<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="m-0">
        {{ (frameWorkData | lang : 'levelFirstName') || ('::MainDomains' | abpLocalization) }}

        ( {{mainDomainsItems?.length}} )
        <!-- {{  '::MainDomains' | abpLocalization }} -->
    </h3>

    <div *ngIf="showButton">
        <button (click)="openDomainDialog(null, FormMode.Create, null, null)"
        *abpPermission="'ComplianceSystem.Domain.Create'" id="create" mat-raised-button color="primary" type="button" class="me-3 round">
            <i class="fa fa-plus me-1"></i>
            <span>
                <ng-container *ngIf="frameWorkData | lang : 'levelFirstName'; else showCreateDomain">
                    {{ '::Create' | abpLocalization }}
                    {{ frameWorkData | lang : 'levelFirstName' }}
                </ng-container>
                <ng-template #showCreateDomain>
                    {{ '::CreateDomain' | abpLocalization : ('::DomainMainDomain' | abpLocalization) }}
                </ng-template>

                <!-- {{ "::CreateDomain" | abpLocalization: ('::DomainMainDomain' | abpLocalization) }} -->
            </span>
        </button>
        <button mat-raised-button class="me-2 round" color="warn" [disabled]="!deleteLength"
            (click)="deleteItems()">
            <mat-icon class="me-1">delete_forever</mat-icon>
            {{ '::Delete' | abpLocalization }}
        </button>
    </div>
</div>

<mat-accordion *ngFor="let mainDomain of mainDomainsItems" class="table-details domains_accordion">
    <mat-expansion-panel #panel [class.marked-for-delete]="selectedToDelete[mainDomain.id]" (opened)="expansionOpened(mainDomain)" [expanded]="expandedDomainId == mainDomain.id" >
        <mat-expansion-panel-header>
            <mat-panel-title class="d-flex justify-content-between align-items-center">
                <span>
                    {{ mainDomain | lang : 'name' }}
                </span>

                <div *ngIf="showButton">
                    <button *abpPermission="'ComplianceSystem.Domain.Update'" class="me-3" mat-button
                    (click)="openDomainDialog(mainDomain, FormMode.Edit, null, null); $event.stopPropagation()">
                        <mat-icon>edit</mat-icon>
                        {{ '::Edit' | abpLocalization }}
                    </button>
                    <mat-checkbox class="me-3" (click)="$event.stopPropagation()" (change)="selectChanged($event.checked, mainDomain.id)"></mat-checkbox>
                </div>

                <div *ngIf="!showButton">
                    <ng-container *ngIf="mainDomain.responsibleId == userId">
                        <button class="me-3" mat-button
                        *ngIf=" mainDomain.complianceStatus == ComplianceStatus.ReadyForInternalAssessment "
                        (click)="startInternalAssessmentById(mainDomain); $event.stopPropagation()">
                            {{ '::StartInternalAssessment' | abpLocalization }}
                        </button>

                        <button class="me-3" mat-button
                        *ngIf=" mainDomain.complianceStatus == ComplianceStatus.UnderInternalAssessment "
                        (click)="endInternalAssessmentById(mainDomain); $event.stopPropagation()">
                            {{ '::EndInternalAssessment' | abpLocalization }}
                        </button>

                        <button class="me-3" mat-button
                        *ngIf=" mainDomain.complianceStatus == ComplianceStatus.UnderInternalReAssessment "
                        (click)="sendToOwner(mainDomain); $event.stopPropagation()">
                            {{ '::SendToOwner' | abpLocalization }}
                        </button>
                    </ng-container>
                    <ng-container *ngIf="frameWorkData?.ownerId == userId">
                        <button (click)="startReview(mainDomain); $event.stopPropagation()" mat-button
                            *ngIf="mainDomain.complianceStatus == ComplianceStatus.ReadyForRevision">
                            {{ '::StartReview' | abpLocalization }}
                        </button>

                        <button (click)="takeReviewDecision(mainDomain); $event.stopPropagation()" mat-button 
                        *ngIf=" mainDomain.complianceStatus == ComplianceStatus.UnderRevision ||
                        mainDomain.complianceStatus == ComplianceStatus.UnderReRevision ">
                            {{ '::TakeDecision' | abpLocalization }}
                        </button>
                    </ng-container>
                </div>
              
            </mat-panel-title>
              
            <!-- <div class="grid_addon">
                <div class="row">
                    <div class="col">
                        <table class="table table-sm m-0 table-bordered">
                                <tr class="row_head">
                                    <th >{{ '::ReferenceNumber' | abpLocalization }}</th> 
                                    <th>{{ '::DomainNameEn' | abpLocalization }}</th>    
                                    <th>{{ '::Number of Controls' | abpLocalization }}</th>    
                                    <th>{{ '::Creator' | abpLocalization }}</th>    
                                    <th>{{ '::FrameworkLastUpdate' | abpLocalization }}</th>    
                                    <th>{{ '::CompliancePercentage' | abpLocalization }}</th>    
                                    <th>{{ '::ComplianceStatus' | abpLocalization }}</th>    
                                    <th>{{ '::Options' | abpLocalization }}</th>    
                                </tr>

                                <tr>
                                    <td> {{ mainDomain.reference }}</td>
                                    <td> {{ mainDomain?.nameEn }}</td>
                                    <td>{{mainDomain?.controlsCount}}</td>
                                    <td>  {{ mainDomain?.responsibleName }}</td>
                                    <td> {{ mainDomain.lastModificationTime | fromNow }}</td>
                                    <td> {{ mainDomain?.compliancePercentage }}</td>
                                    <td>{{ '::' + ComplianceStatus[mainDomain?.complianceStatus] | abpLocalization }}</td>
                                    <td>
                                         <div *ngIf="showButton">
                                            <button *abpPermission="'ComplianceSystem.Domain.Update'" class="mr-3 small-btn" mat-button
                                            (click)="openDomainDialog(mainDomain, FormMode.Edit, null, null); $event.stopPropagation()">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </div>

                                        <button class="mr-3 small-btn" mat-button
                                        (click)="openDomainDetailsDialog(mainDomain); $event.stopPropagation()">
                                        <mat-icon>
                                            visibility
                                        </mat-icon>
                                        </button>

                                     
                                        
                                    </td>

                                </tr>
                        </table>
                    </div>
                </div>
            </div> -->
        </mat-expansion-panel-header>

       <section class="pt-0 mt-4">
            <div class="details-table-cont">
                <table class="table">
                    <tr>
                        <td>
                            {{ '::ReferenceNumber' | abpLocalization }}
                        </td>
                        <td>
                            {{ mainDomain.reference }}
                        </td>

                        <td>
                            {{ '::Creator' | abpLocalization }}
                        </td>
                        <td>
                            {{ mainDomain?.responsibleName }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ '::DomainNameEn' | abpLocalization }}
                        </td>
                        <td colspan="3">
                            {{ mainDomain?.nameEn }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ '::DomainDescriptionAr' | abpLocalization }}
                        </td>
                        <td>
                            {{ mainDomain?.descriptionAr }}
                        </td>
                        <td>
                            {{ '::DomainDescriptionEn' | abpLocalization }}
                        </td>
                        <td>
                            {{ mainDomain?.descriptionEn }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ '::Departments' | abpLocalization }}
                        </td>
                        <td colspan="3">
                            <mat-chip-listbox>
                                <mat-chip *ngFor="let department of mainDomain.departments">
                                    {{ department.name }}
                                </mat-chip>
                            </mat-chip-listbox>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            {{ '::CreatedDate' | abpLocalization }}
                        </td>
                        <td>
                            {{ mainDomain.creationTime | date : 'yyyy-MM-dd' }}
                        </td>
                        <td>
                            {{ '::FrameworkLastUpdate' | abpLocalization }}
                        </td>
                        <td>
                            {{ mainDomain.lastModificationTime | fromNow }}
                        </td>
                    </tr>

                    <ng-container *ngIf="inCompliance;">
                        <tr>
                            <td colspan="4">
                              <span>
                                {{ '::ComplianceData' | abpLocalization }}
                              </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ '::SelfAssessmentStartDate' | abpLocalization }}
                            </td>
                            <td>
                                {{ mainDomain?.selfAssessmentStartDate | date : dateTimeFormat }}
                            </td>
                            <td>
                                {{ '::SelfAssessmentEndDate' | abpLocalization }}
                            </td>
                            <td>
                                {{ mainDomain?.selfAssessmentEndDate | date : dateTimeFormat }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ '::InternalAssessmentStartDate' | abpLocalization }}
                            </td>
                            <td>
                                {{ mainDomain?.internalAssessmentStartDate | date : dateTimeFormat }}
                            </td>
                            <td>
                                {{ '::InternalAssessmentEndDate' | abpLocalization }}
                            </td>
                            <td>
                                {{ mainDomain?.internalAssessmentEndDate | date : dateTimeFormat }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ '::ReviewStartDate' | abpLocalization }}
                            </td>
                            <td>
                                {{ mainDomain?.reviewStartDate | date : dateTimeFormat }}
                            </td>
                            <td>
                                {{ '::ReviewEndDate' | abpLocalization }}
                            </td>
                            <td>
                                {{ mainDomain?.reviewEndDate | date : dateTimeFormat }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ '::ApprovalDate' | abpLocalization }}
                            </td>
                            <td>
                                {{ mainDomain?.reviewEndDate | date : dateTimeFormat }}
                            </td>
                            <td>
                                {{ '::CompliancePercentage' | abpLocalization }}
                            </td>
                            <td>
                                {{ mainDomain?.compliancePercentage }}
                            </td>
                        </tr>
                        
                        <tr>
                         
                            <td>
                                {{ '::ComplianceStatus' | abpLocalization }}
                            </td>
                            <td colspan="3">
                                <span class="status" [class]="ComplianceStatus[mainDomain?.complianceStatus]">
                                    {{ '::' + ComplianceStatus[mainDomain?.complianceStatus] | abpLocalization }}
                                </span>
                              
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #inFrameworks>
                      
                    </ng-template>
                </table>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3 mt-4">
                <h4 class="m-0">
                    {{ ( frameWorkData | lang : 'levelSecondName' ) || ('::SubDomains' | abpLocalization) }}
                    ( {{subDomainsTable?.items?.length}} )
                    <!-- {{ '::SubDomains' | abpLocalization }} -->
                </h4>

                <ng-container *ngIf="showButton">
                    <button *abpPermission="'ComplianceSystem.Domain.Create'" class="round" id="create" mat-raised-button color="accent" type="button"
                        (click)="openDomainDialog(null, FormMode.Create, mainDomain, subDomainsTable)">
                        <i class="fa fa-plus me-1"></i>
                        <span>
                            <ng-container *ngIf="frameWorkData | lang : 'levelSecondName'; else showCreateSubDomain">
                                {{ '::Create' | abpLocalization }}
                                {{ frameWorkData | lang : 'levelSecondName' }}
                            </ng-container>
                            <ng-template #showCreateSubDomain>
                                {{ '::CreateDomain' | abpLocalization : ('::DomainSubDomain' | abpLocalization) }}
                            </ng-template>
                            <!-- {{ "::CreateDomain" | abpLocalization: ('::DomainSubDomain' | abpLocalization) }} -->
                        </span>
                    </button>
                </ng-container>
            </div>

            <app-expansion-sub-domains-table #subDomainsTable [parentPath]="frameWorkData.parentPath" [showButton]="showButton"
                [frameWorkData]="frameWorkData" [expanded]="panel.expanded" [frameworkId]="frameworkId"
                [mainDomain]="mainDomain">
            </app-expansion-sub-domains-table>
        </section>
    </mat-expansion-panel>
</mat-accordion>

<ng-template #domainDetailsDialog let-data  let-ref="dialogRef">
    <div class="app-dialog">
    <div mat-dialog-title class="pt-2 pb-2 pr-3 pl-3 dialog-title d-flex align-items-center justify-content-between">
        {{  data.data?.nameEn }}
    </div>

    <mat-dialog-content class=" details-table-cont  ">
            <table class="table">
                <tr>
                    <td>
                        {{ '::ReferenceNumber' | abpLocalization }}
                    </td>
                    <td>
                        {{ data.data.reference }}
                    </td>
    
                    <td>
                        {{ '::Creator' | abpLocalization }}
                    </td>
                    <td>
                        {{ data.data?.responsibleName }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ '::DomainNameEn' | abpLocalization }}
                    </td>
                    <td colspan="3">
                        {{  data.data?.nameEn }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ '::DomainDescriptionAr' | abpLocalization }}
                    </td>
                    <td>
                        {{  data.data?.descriptionAr }}
                    </td>
                    <td>
                        {{ '::DomainDescriptionEn' | abpLocalization }}
                    </td>
                    <td>
                        {{  data.data?.descriptionEn }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ '::Departments' | abpLocalization }}
                    </td>
                    <td colspan="3">
                        <mat-chip-list>
                            <mat-chip *ngFor="let department of  data.data?.departments">
                                {{ department.name }}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </tr>
    
                <tr>
                    <td>
                        {{ '::CreatedDate' | abpLocalization }}
                    </td>
                    <td>
                        {{  data.data?.creationTime | date : 'yyyy-MM-dd' }}
                    </td>
                    <td>
                        {{ '::FrameworkLastUpdate' | abpLocalization }}
                    </td>
                    <td>
                        {{  data.data?.lastModificationTime | fromNow }}
                    </td>
                </tr>
    
                <ng-container *ngIf="inCompliance;">
                    <tr>
                        <td colspan="4">
                          <span>
                            {{ '::ComplianceData' | abpLocalization }}
                          </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ '::SelfAssessmentStartDate' | abpLocalization }}
                        </td>
                        <td>
                            {{  data.data?.selfAssessmentStartDate | date : dateTimeFormat }}
                        </td>
                        <td>
                            {{ '::SelfAssessmentEndDate' | abpLocalization }}
                        </td>
                        <td>
                            {{  data.data?.selfAssessmentEndDate | date : dateTimeFormat }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ '::InternalAssessmentStartDate' | abpLocalization }}
                        </td>
                        <td>
                            {{  data.data?.internalAssessmentStartDate | date : dateTimeFormat }}
                        </td>
                        <td>
                            {{ '::InternalAssessmentEndDate' | abpLocalization }}
                        </td>
                        <td>
                            {{  data.data?.internalAssessmentEndDate | date : dateTimeFormat }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ '::ReviewStartDate' | abpLocalization }}
                        </td>
                        <td>
                            {{  data.data?.reviewStartDate | date : dateTimeFormat }}
                        </td>
                        <td>
                            {{ '::ReviewEndDate' | abpLocalization }}
                        </td>
                        <td>
                            {{  data.data?.reviewEndDate | date : dateTimeFormat }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ '::ApprovalDate' | abpLocalization }}
                        </td>
                        <td>
                            {{  data.data?.reviewEndDate | date : dateTimeFormat }}
                        </td>
                        <td>
                            {{ '::CompliancePercentage' | abpLocalization }}
                        </td>
                        <td>
                            {{  data.data?.compliancePercentage }}
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            {{ '::ComplianceStatus' | abpLocalization }}
                        </td>
                        <td colspan="3">
                            <span class="status" [class]="ComplianceStatus[ data.data?.complianceStatus]">
                                {{ '::' + ComplianceStatus[ data.data?.complianceStatus] | abpLocalization }}
                            </span>
                        </td>
                    </tr>
                </ng-container>
    
                <ng-template #inFrameworks>
                  
                </ng-template>
               
            </table>
    </mat-dialog-content>
    
    <mat-dialog-actions class="actions mb-0">
        <button type="button" mat-button (click)="ref.close()" class="red"> 
            {{ '::Close' | abpLocalization }}
        </button>
    </mat-dialog-actions>
</div>
</ng-template>

<ng-template #domainDialog let-data let-ref="dialogRef">
    <app-create-domain [data]="data.data" [ref]="ref" [mode]="data.mode" [frameWorkData]="frameWorkData" [mainDomain]="data.mainDomain"></app-create-domain>
</ng-template>

<ng-template #reviewAlert let-data let-ref="dialogRef">
    <h2 mat-dialog-title>
        {{ '::StartReview' | abpLocalization }}
    </h2>
    <mat-dialog-content class="mat-typography">
        <p>
            {{ '::StartReviewMSG' | abpLocalization }}
        </p>
        <mat-dialog-actions align="end" class="actions">
            <button mat-button class="red" (click)="ref.close()">
                {{ '::no' | abpLocalization }}
            </button>

            <button mat-button cdkFocusInitial class="green" (click)="ref.close(true)">
                {{ '::yes' | abpLocalization }}
            </button>
        </mat-dialog-actions>
    </mat-dialog-content>
</ng-template>


<ng-template #reviewDecisionAlert let-data let-ref="dialogRef">
    <h2 mat-dialog-title>
      {{ '::TakeDecision' | abpLocalization }}
    </h2>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="reviewForm">
        <div class="form-group">
          <!-- <label>
                      {{ '::IsSystemApplicable' | abpLocalization }}
                  </label> -->
          <mat-radio-group formControlName="action" color="primary" class="d-flex">
            <mat-radio-button class="ms-3 me-3" [value]="true">
              {{ '::ApproveCompliance' | abpLocalization }}
            </mat-radio-button>
            <mat-radio-button class="ms-3 me-3" [value]="false">
              {{ '::ReturnToResponsible' | abpLocalization }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
  
        <mat-dialog-actions align="end" class="actions">
          <button mat-button class="red" (click)="ref.close()">
            {{ '::Cancel' | abpLocalization }}
          </button>
  
          <button mat-button cdkFocusInitial class="green" [disabled]="reviewForm.invalid" (click)="ref.close(true)">
            {{ '::Save' | abpLocalization }}
          </button>
        </mat-dialog-actions>
      </form>
    </mat-dialog-content>
  </ng-template>