<mat-dialog-content>
    <div class="dialog-container">
      <div class="d-flex align-items-center">
        <mat-icon *ngIf="showIcon" class="warn-icon" [color]="iconColor">
          {{iconName}}
        </mat-icon>
        <h2 mat-dialog-title>{{ title | abpLocalization }}</h2>
      </div>
      <p mat-dialog-title>{{ description | abpLocalization }}</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="mb-2">
    <button mat-button mat-dialog-close [mat-dialog-close]="false">
      {{ '::Cancel' | abpLocalization }}
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">
      {{ '::Yes' | abpLocalization }}
    </button>
  </mat-dialog-actions>