  <h2 class="mt-4 text-center">
    {{ '::Compliance' | abpLocalization }}
  </h2>
  
  <div class="row">
    <div class="col-md-4 form-group">
      <label style="font-size: 16px;">
        {{ '::Framework' | abpLocalization }}
      </label>
      <ng-select [(ngModel)]="selectedFrameWorkId" (change)="getComplianceChart($event)">
        <ng-option *ngFor="let frame of frameworksList" [value]="frame.id">
          {{ frame | lang:'name' }}
        </ng-option>
      </ng-select>
    </div>
  </div>

<ng-container >
  <div class="row">
    <div class="col-md-8">
      <ng-template #table1 [ngIf]="true">
        <mat-card #tableParent class="card-1 mb-3">
          <table class="table">
            <thead>
              <tr>
                <td class="applicable">
                  <div class="d-flex justify-content-between">
                    <span>{{ '::Dashboard:Applicable' | abpLocalization }}</span>
                    <span>{{ TotalApplicable }}</span>
                  </div>
                </td>
                <td>
                  <span class="dark-red">
                    {{ '::Dashboard:Level' | abpLocalization }} 1
                  </span>
                </td>
                <td>
                  <span class="red">
                    {{ '::Dashboard:Level' | abpLocalization }} 2
                  </span>
                </td>
                <td>
                  <span class="yellow">
                    {{ '::Dashboard:Level' | abpLocalization }} 3
                  </span>
                </td>
                <td>
                  <span class="dark-yellow">
                    {{ '::Dashboard:Level' | abpLocalization }} 4
                  </span>
                </td>
                <td>
                  <span class="green">
                    {{ '::Dashboard:Level' | abpLocalization }} 5
                  </span>
                </td>
              </tr>
              <tr>
                <td class="applicable not">
                  <div class="d-flex justify-content-between">
                    <span>{{ '::Dashboard:NotApplicable' | abpLocalization }}</span>
                    <span> {{TotalNotApplicable }} </span>
                  </div>
                </td>
                <td>
                  <span class="dark-red">
                    {{ '::Ad-hoc' | abpLocalization }}
                  </span>
                </td>
                <td>
                  <span class="red">
                    {{ '::RepeatableInformal' | abpLocalization }}
                  </span>
                </td>
                <td>
                  <span class="yellow">
                    {{ '::StructuredFormalized' | abpLocalization }}
                  </span>
                </td>
                <td>
                  <span class="dark-yellow" style="padding: 2px 0;">
                    {{ '::ManagedMeasurable' | abpLocalization }}
                  </span>
                </td>
                <td>
                  <span class="green">
                    {{ '::Adaptive' | abpLocalization }}
                  </span>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="d-block">
                    {{ maturityData?.maindomain | lang:'name'}}
                  </span>
                </td>
                <td>
                  {{ maturityData?.levelOne }}
                </td>
                <td>
                  {{ maturityData?.levelTwo }}
                </td>
                <td>
                  {{ maturityData?.levelThree }}
                </td>
                <td>
                  {{ maturityData?.levelfour }}
                </td>
                <td>
                  {{ maturityData?.levelFive }}
                </td>
              </tr>
              <tr *ngFor="let domain of domains">
                <td>
                  <a class="d-block" (click)="onChartClick(domain.maindomain.id)">
                    {{ domain.maindomain | lang:'name'}}
                  </a>
                </td>
                <td>
                  {{ domain.levelOne }}
                </td>
                <td>
                  {{ domain.levelTwo }}
                </td>
                <td>
                  {{ domain.levelThree }}
                </td>
                <td>
                  {{ domain.levelfour }}
                </td>
                <td>
                  {{ domain.levelFive }}
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card>
      </ng-template>
    </div>
    <div class="col-md-4" style="display: flex;">
      <mat-card class="card-1 mb-3" style="flex:1;display: flex;max-height: 500px;">
        <div echarts *ngIf="maturityChart" [options]="maturityChart" (chartInit)="onChartInit(null, $event)"
          style="flex: 1; height: auto; min-height:300px"></div>
      </mat-card>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4 mb-3" *ngFor="let chart of pieCharts; index as i">
      <mat-card class="card-3">
        <div echarts [options]="chart" (chartInit)="onChartInit(i, $event)" (chartClick)="onChartClick($event.data.groupId)"></div>
      </mat-card>
    </div>
  </div>

  <div class="print-section-1">
    <h2 class="mt-4 text-center">
      {{ '::Compliance' | abpLocalization }}
    </h2>
    <div class="row">
      <div class="col-md-8">
        <ng-template [ngTemplateOutlet]="table1"></ng-template>
      </div>
      <div class="col-md-4">
        <mat-card class="card-3">
          <img [src]="maturityChartImg?.img" style="width: 100%;">
        </mat-card>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4 mb-3" *ngFor="let chart of chartsAfterInit">
        <mat-card class="card-3">
          <img [src]="chart.img" style="width: 100%;">
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>