
table {
    width: 100%;
}

table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing:  0px;
    tr {
        background-color: rgba(181,186,208,.42);
        td {
            border-top: none;
            border-left: 4px solid #fff;
            border-right: 4px solid #fff;
            border-radius: 0;
            font-size: 15px;
            text-align: center;
            vertical-align: middle;
            height: 1px;
        }
    }
    thead {
        tr {
            td {
                font-size: 15px;
                text-align: center;
                padding: 0;
                color: #fff;
                &.applicable{
                    background-color: #fff;
                    min-width: 350px;
                    width: 350px;
                    font-weight: bold;
                    font-size: 18px;
                    div {
                        margin-left: 10px;
                        margin-right: 10px;
                        border-radius: 8px;
                        background-color: #00E355;
                    }
                    &.not {
                        div {
                            background-color: #E30303;
                        }
                    }
                }
                span {
                    display: block;
                    border-radius: 8px;
                    padding: 12px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .dark-red {
                    background-color: #B00606;
                }
                .red {
                    background-color: #E30303;
                }
                .yellow {
                    background-color: #F8D90E;
                    color: #000;
                }
                .dark-yellow {
                    background-color: #FFCC00;
                    color: #000;
                }
                .green {
                    background-color: #00E355;
                }
            }
            &:first-of-type {
                td {
                    padding: 0 0 15px 0;
                    border-radius: 8px 8px 0 0;
                }
            }
            &:last-of-type{
                td {
                   padding-bottom: 10px;
                }
            }
        }
    }
    tbody {
        tr {
           td {
            border-bottom: 1px solid #F3F1F1;
            padding:0;
            a {
                cursor: pointer;
            }
            span, a {
                padding: 12px;
            }
            &:first-of-type {
                span {
                    background-color: #262D36;
                    color: #fff;
                }
            }
           }
            &:last-of-type {
                border-bottom:none;
                td {
                    border-bottom: none;
                    span, a {
                        border-radius: 0 0 8px 8px;
                    }
                }
            }
            &:first-of-type {
                td {
                    span {
                        background-color: #f0f0f0;
                        color: #262D36;
                    }
                }
            }
        }
    }
}


.print-section-1 {
    display: none;
}