<ng-container *ngIf="data">
    <ng-template #table1 [ngIf]="true">
        <mat-card class="card-1 mb-3" >
            <!-- <div class="row">
                <div class="col-md-4">
                    <mat-chip-list>
                        <mat-chip class="d-flex justify-content-between align-items-center w-100">
                            <span>{{ '::Dashboard:Applicable' | abpLocalization }}</span>
                            <span>180</span>
                        </mat-chip>
    
                        <mat-chip class="d-flex justify-content-between align-items-center w-100">
                            <span>{{ '::Dashboard:NotApplicable' | abpLocalization }}</span>
                            <span>13</span>
                        </mat-chip>
    
                    </mat-chip-list>
                    
                </div>
            
            </div> -->
            <table class="table">
                <thead>
                    <tr>
                        <td class="applicable">
                            <div class="d-flex justify-content-between">
                                <span>{{ '::Dashboard:Applicable' | abpLocalization }}</span>
                                <span>{{ data.totalApplicable }}</span>
                            </div>
                        </td>
                        <td>
                            <span class="dark-red">
                                {{ '::Dashboard:Level' | abpLocalization }} 1
                            </span>
                        </td>
                        <td>
                            <span class="red">
                                {{ '::Dashboard:Level' | abpLocalization }} 2
                            </span>
                        </td>
                        <td>
                            <span class="yellow">
                                {{ '::Dashboard:Level' | abpLocalization }} 3
                            </span>
                        </td>
                        <td>
                            <span class="dark-yellow">
                                {{ '::Dashboard:Level' | abpLocalization }} 4
                            </span>
                        </td>
                        <td>
                            <span class="green">
                                {{ '::Dashboard:Level' | abpLocalization }} 5
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="applicable not">
                            <div class="d-flex justify-content-between">
                                <span>{{ '::Dashboard:NotApplicable' | abpLocalization }}</span>
                                <span> {{ data.totalNotApplicable }} </span>
                            </div>
                        </td>
                        <td>
                            <span class="dark-red">
                                {{ '::Dashboard:Initial' | abpLocalization }}
                            </span>
                        </td>
                        <td>
                        <span class="red">
                            {{ '::Dashboard:Managed' | abpLocalization }}
                        </span>
                        </td>
                        <td>
                            <span class="yellow">
                                {{ '::Dashboard:Defined' | abpLocalization }}
                            </span>
                        </td>
                        <td>
                            <span class="dark-yellow" style="padding: 2px 0;">
                                {{ '::Dashboard:QuantitativelyManaged' | abpLocalization }}
                            </span>
                        </td>
                        <td>
                            <span class="green">
                                {{ '::Dashboard:Optimizing' | abpLocalization }}
                            </span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td style="background-color: #F3F1F1; color: #262D36;">
                            {{ '::Dashboard:TotalRequirements' | abpLocalization }}
                        </td>
                        <td>72</td>
                        <td>12</td>
                        <td>89</td>
                        <td>1</td>
                        <td>6</td>
                    </tr> -->
    
                    <tr *ngFor="let framerowk of data.frameworkData">
                        <td>
                            <span class="d-block">
                                {{ framerowk.frameworkDto | lang:'name'}}
                            </span>
                        </td>
                        <td>
                            {{ framerowk.levelOne }}
                        </td>
                        <td>
                            {{ framerowk.levelTwo }}
                        </td>
                        <td>
                            {{ framerowk.levelThree }}
                        </td>
                        <td>
                            {{ framerowk.levelfour }}
                        </td>
                        <td>
                            {{ framerowk.levelFive }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
    </ng-template>
    
    
    <!-- <mat-card class="card-2 mb-3">
        <h4 class="text-center mb-0">{{ '::Dashboard:RequirementsGapAnalysis' | abpLocalization }}</h4>
        <div echarts [options]="chartOneOptions" (chartInit)="onChartInit('chart1', $event)"></div>
    </mat-card> -->
    
    
    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <mat-card class="card-3">
                <div echarts [options]="chartTwoOptions" (chartInit)="onChartInit('chart2', $event)"></div>
            </mat-card>
        </div>
        <div class="col-md-6 mb-3">
            <mat-card class="card-4">
                <div echarts [options]="chartThreeOptions" (chartInit)="onChartInit('chart3', $event)"></div>
            </mat-card>
        </div>
    </div>
    
    
    <!-- <ng-template #table2 [ngIf]="true">
        <mat-card class="card-5 mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>{{ '::Dashboard:AsIsStatus' | abpLocalization }}</td>
                        <td colspan="2">{{ '::Dashboard:RecommendedLevel' | abpLocalization }}</td>
                        <td>{{ '::Dashboard:AsIsStatus' | abpLocalization }}</td>
                        <td>{{ '::Dashboard:Product' | abpLocalization }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ '::Dashboard:CybersecurityGovernance' | abpLocalization }}</td>
                        <td>105</td>
                        <td>255</td>
                        <td>{{ '::Dashboard:CybersecurityGovernance' | abpLocalization }}</td>
                        <td>59%</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td>{{ '::Dashboard:CybersecurityDefense' | abpLocalization }}</td>
                        <td>206</td>
                        <td>550</td>
                        <td>{{ '::Dashboard:CybersecurityDefense' | abpLocalization }}</td>
                        <td>37%</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td>{{ '::Dashboard:CybersecurityResilience' | abpLocalization }}</td>
                        <td>6</td>
                        <td>30</td>
                        <td>{{ '::Dashboard:CybersecurityResilience' | abpLocalization }}</td>
                        <td>20%</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td> {{ '::Dashboard:ThirdParty' | abpLocalization }} </td>
                        <td>35</td>
                        <td>65</td>
                        <td> {{ '::Dashboard:ThirdParty' | abpLocalization }} </td>
                        <td>54%</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td> {{ '::Dashboard:IndustrialControl' | abpLocalization}} </td>
                        <td>0</td>
                        <td>0</td>
                        <td> {{ '::Dashboard:IndustrialControl' | abpLocalization}} </td>
                        <td>76%</td>
                        <td>100%</td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
    </ng-template> -->
    
    
    <!-- <mat-card class="card-6 mb-3">
        <h4 class="text-center mb-2">{{ '::Dashboard:MaturityLevel' | abpLocalization }}</h4>
        <div echarts [options]="chartFourOptions" (chartInit)="onChartInit('chart4', $event)"></div>
    </mat-card>
    
    
    <mat-card class="card-6 mb-3">
        <h4 class="text-center mb-2">{{ '::Dashboard:ComplianceBased' | abpLocalization }}</h4>
        <div echarts [options]="chartFiveOptions" (chartInit)="onChartInit('chart5', $event)"></div>
    
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <td>
                        {{ '::Dashboard:CybersecurityGovernance' | abpLocalization }}
                    </td>
                    <td>
                        {{ '::Dashboard:CybersecurityDefense' | abpLocalization }}
                    </td>
                    <td>
                        {{ '::Dashboard:CybersecurityResilience' | abpLocalization }}
                    </td>
                    <td>
                        {{ '::Dashboard:ThirdParty' | abpLocalization }}
                    </td>
                    <td>
                         {{ '::Dashboard:IndustrialControl' | abpLocalization}} 
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ '::Dashboard:AsIsStatus' | abpLocalization }} 
                    </td>
                    <td>59%</td>
                    <td>37%</td>
                    <td>20%</td>
                    <td>54%</td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td>
                        {{ '::Dashboard:RecommendedLevel' | abpLocalization }}
                    </td>
                    <td>100%</td>
                    <td>100%</td>
                    <td>100%</td>
                    <td>100%</td>
                    <td>100%</td>
                </tr>
            </tbody>
        </table>
    </mat-card>
    
    
    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <mat-card class="card-3">
                <div echarts [options]="chartSixOptions"  (chartInit)="onChartInit('chart6', $event)"></div>
            </mat-card>
        </div>
        <div class="col-md-6 mb-3">
            <mat-card class="card-4">
                <div echarts [options]="chartSevenOptions"  (chartInit)="onChartInit('chart7', $event)"></div>
            </mat-card>
        </div>
    </div>
    
    
    <mat-card class="card-7">
        <div echarts [options]="chartEightOptions"  (chartInit)="onChartInit('chart8', $event)"></div>
    </mat-card> -->
    
    
    <div class="print-section-1">
        <ng-template [ngTemplateOutlet]="table1" ></ng-template>
    
        <!-- <mat-card class="card-2 mb-3">
            <h4 class="text-center mb-0">{{ '::Dashboard:RequirementsGapAnalysis' | abpLocalization }}</h4>
            <img [src]="charts['chart1']?.img" style="width: 100%;">
        </mat-card> -->
        
        
        <div class="row mb-3">
            <div class="col-md-6 mb-3">
                <mat-card class="card-3">
                    <img [src]="charts['chart2']?.img" style="width: 100%;">
                </mat-card>
            </div>
            <div class="col-md-6 mb-3">
                <mat-card class="card-4">
                    <img [src]="charts['chart3']?.img" style="width: 100%;">
                </mat-card>
            </div>
        </div>
    
        <!-- <ng-template [ngTemplateOutlet]="table2" ></ng-template> -->
    
            
        <!-- <mat-card class="card-6 mb-3">
            <h4 class="text-center mb-2">{{ '::Dashboard:MaturityLevel' | abpLocalization }}</h4>
            <img [src]="charts['chart4']?.img" style="width: 100%;">
        </mat-card>
    
    
        <mat-card class="card-6 mb-3">
            <h4 class="text-center mb-2">{{ '::Dashboard:ComplianceBased' | abpLocalization }}</h4>
            <img [src]="charts['chart5']?.img" style="width: 100%;">
    
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>
                            {{ '::Dashboard:CybersecurityGovernance' | abpLocalization }}
                        </td>
                        <td>
                            {{ '::Dashboard:CybersecurityDefense' | abpLocalization }}
                        </td>
                        <td>
                            {{ '::Dashboard:CybersecurityResilience' | abpLocalization }}
                        </td>
                        <td>
                            {{ '::Dashboard:ThirdParty' | abpLocalization }}
                        </td>
                        <td>
                            {{ '::Dashboard:IndustrialControl' | abpLocalization}} 
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ '::Dashboard:AsIsStatus' | abpLocalization }} 
                        </td>
                        <td>59%</td>
                        <td>37%</td>
                        <td>20%</td>
                        <td>54%</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>
                            {{ '::Dashboard:RecommendedLevel' | abpLocalization }}
                        </td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>100%</td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
    
    
        <div class="row mb-3">
            <div class="col-md-6 mb-3">
                <mat-card class="card-3">
                    <img [src]="charts['chart6']?.img" style="width: 100%;">
                </mat-card>
            </div>
            <div class="col-md-6 mb-3">
                <mat-card class="card-4">
                    <img [src]="charts['chart7']?.img" style="width: 100%;">
                </mat-card>
            </div>
        </div>
    
    
        <mat-card class="card-7">
            <img [src]="charts['chart8']?.img" style="width: 100%;">
        </mat-card> -->
    
    </div>
</ng-container>