
        <ng-container>
            <div class="d-flex justify-content-between align-items-center mb-4">

                <div>
                    <b>تفاصيل الوثيقة</b>
                </div>

                <div>
                    <a mat-flat-button class="mainGreenBg" [routerLink]="['/policy/documents/','2', 'edit']" >تعديل  
                        <mat-icon>edit</mat-icon>
                    </a>

                </div>
            </div>
            <div class="details-table-cont">
                <table class="table">
                    <tr>
                        <td width="25%">
                            اﺳﻢ اﻟﻮﺛﻴﻘﺔ
                        </td>
                        <td >
                            عنوان اﺧﺘﺒﺎر
                        </td>
                     
                    </tr>
                    <tr>
                        <td>
                            ﻧﻮع اﻟﻮﺛﻴﻘﺔ
                        </td>
                        <td>
                            ﻣﺤﻤﺪ اﻟﻘﺤﻄﺎﻧﻰ
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            ﻣﺎﻟﻜﻲ اﻟﻮﺛﻴﻘﺔ
                        </td>
                        <td>
                            أﺣﻤﺪ ﻋﻠﻰ
                        </td>
                    </tr>
    
                    <tr >
                        <td>
                            ﺗﺎرﻳﺦ ﺑﺪء الصلاحية 
                        </td>
                        <td>
                            10/10/2023
                        </td>
                    </tr>

                    <tr >
                        <td>
                            ﺗﺎرﻳﺦ اﻧﺘﻬﺎء الصلاحية
                        </td>
                        <td >
                            10/10/2023
                        </td>
                    </tr>

                    <tr >
                        <td>
                          المراجعون
                        </td>
                        <td >
                           احمد علي
                        </td>
                    </tr>

                    <tr >
                        <td>
                            المعتمدون
                        </td>
                        <td >
                            احمد علي
                        </td>
                    </tr>

                    <tr >
                        <td>
                            اﻟﺘﺼﻨﻴﻔﺎت
                        </td>
                        <td >
                            ﻫﻮ ﻧﻤﻮذج اﻓﺘﺮا ﻳﻮﺿﻊ ﻓﻲ اﻟﺘﺼﺎﻣﻴﻢ ﻟﺘﻌﺮض ﻋﻠﻰ اﻟﻌﻤﻴﻞ ﻟﻴﺘﺼﻮر ﻃﺮﻳﻘﻪ وﺿﻊ اﻟﻨﺼﻮص
                            ﺑﺎﻟﺘﺼﺎﻣﻴﻢ ﺳﻮاء ﻛﺎﻧﺖ
                        </td>
                    </tr>

                    <tr >
                        <td>
                            اﻟﻮﺻﻒ
                        </td>
                        <td >
                            ﻟﻮرﻳﻢ اﻳﺒﺴﻮم ﻫﻮ ﻧﻤﻮذج اﻓﺘﺮا ﻳﻮﺿﻊ ﻓﻲ اﻟﺘﺼﺎﻣﻴﻢ ﻟﺘﻌﺮض ﻋﻠﻰ اﻟﻌﻤﻴﻞ ﻟﻴﺘﺼﻮر ﻃﺮﻳﻘﻪ وﺿﻊ اﻟﻨﺼﻮص
                        </td>
                    </tr>

                </table>
            </div>
    
          
        </ng-container>
 