
        <ng-container>
            <div class="d-flex justify-content-between align-items-center mb-4">
                
                <div>
                    <b>{{ "::Policy:DocumentDetails" | abpLocalization }}</b>
                </div>

                <div>
                    <a mat-flat-button class="mainGreenBg" [routerLink]="['/policy/documents/',documentData?.id, 'edit']" >تعديل  
                        <mat-icon>edit</mat-icon>
                    </a>

                </div>
            </div>
            <div class="details-table-cont">
                <table class="table">
                    <tr>
                        <td width="25%">
                            {{ "::Policy:DocumentName" | abpLocalization }}
                        </td>
                        <td >
                            {{ documentData?.nameAr }}
                        </td>
                     
                    </tr>
                    <tr>
                        <td>
                            {{ "::Policy:DocumentType" | abpLocalization }}
                        </td>
                        <td>
                            {{ PolicyType[documentData?.type]['key'] }}
                           
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            {{ "::Policy:DocumentOwners" | abpLocalization }}
                        </td>
                        <td>
                            <span  *ngFor="let item of documentData?.ownersIds" class="badge m-1">{{item?.employeeName}}</span>
                        </td>
                    </tr>
    
                    <tr >
                        <td>
                            {{ "::Policy:validationStartDate" | abpLocalization }}
                        </td>
                        <td>
                            {{ documentData?.validationStartDate  | date:'yyyy/MM/dd' }}
                        </td>
                    </tr>

                    <tr >
                        <td>
                            {{ "::Policy:validationEndDate" | abpLocalization }}
                        </td>
                        <td >
                            {{documentData?.validationEndtDate  | date:'yyyy/MM/dd'}}
                        </td>
                    </tr>

                    <tr >
                        <td>
                            {{ "::Policy:Revisors" | abpLocalization }}
                        </td>
                        <td >
                            <span  *ngFor="let item of documentData?.reviewersIds" class="badge m-1">{{item?.employeeName}}</span>
                        </td>
                    </tr>

                    <tr >
                        <td>
                            {{ "::Policy:Approvers" | abpLocalization }}
                        </td>
                        <td >
                            <span  *ngFor="let item of documentData?.approversIds" class="badge m-1">{{item?.employeeName}}</span>
                        </td>
                    </tr>

                    <tr >
                        <td>
                            {{ "::Policy:Categories" | abpLocalization }}
                        </td>
                        <td >
                            <span  *ngFor="let item of documentData?.categoryIds" class="badge m-1">{{item?.nameAr}}</span>
                        </td>
                    </tr>

                    <tr >
                        <td>
                            {{ "::Policy:Description" | abpLocalization }}
                        </td>
                        <td >
                            {{ documentData?.description }}
                        </td>
                    </tr>

                </table>
            </div>
    
          
        </ng-container>
 