
    <div class="pb-3 pt-3">
        <div class="row">
            <div class="col col-md-6">
                <div class="d-flex   justify-content-start align-items-center ps-3 mt-2">
                    <div>
                        <mat-icon>arrow_forward</mat-icon>
                    </div>
                
                    
                    <a href="#" class="bread_crumb_item">
                        اﻟﺼﻔﺤﺔ اﻟﺮﺋﻴﺴﻴﺔ
                    </a>
                
                    / 
                
                    <a href="#" class="bread_crumb_item">
                        السياسات
                    </a>
                
                    /
                
                    <a href="#" class="bread_crumb_item">
                        إدارة اﻟﻮﺛﺎﺋﻖ
                    </a>
                
                    
                </div>
            </div>
            <div class="col col-md-6 pt-2 d-flex justify-content-end">
                <a  mat-raised-button id="createBtn"  routerLink="/policy/documents/create" class="btn btn-primary me-3"
                >
                    <i class="fa fa-plus me-1"></i>
                    <span>إضافة وثيقة</span>
                </a>
                <app-search (search)="getList($event)"></app-search>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ngx-datatable
        class="material fullscreen"
        columnMode="force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [scrollbarH]="true"
        #dataTable
        [rows]="items"
        [count]="totalCount"
        [list]="list"
        >
            <!-- <ngx-datatable-column [name]="'::DepartmentName' | abpLocalization" prop="name"></ngx-datatable-column> -->

            <ngx-datatable-column [name]=" 'رمز الوثيقة' " prop="name"></ngx-datatable-column>
            <ngx-datatable-column [name]="'اسم الوثيقة'" prop="name"></ngx-datatable-column>
            <ngx-datatable-column [name]="'مالك الوثيقة'" prop="name"></ngx-datatable-column>
            <ngx-datatable-column [name]="'وضع الامتثال'" prop="name"></ngx-datatable-column>
            <ngx-datatable-column [name]="'الحالة'" prop="name"></ngx-datatable-column>
            <ngx-datatable-column [name]="'ﺗﺎرﻳﺦ ﺑﺪء اﻟﺼﻼﺣﻴﺔ'" prop="name"></ngx-datatable-column>
            <ngx-datatable-column [name]="'ﺗﺎرﻳﺦ إﻧﺘﻬﺎء اﻟﺼﻼﺣﻴﺔ'" prop="name"></ngx-datatable-column>
                
            <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="350" [width]="250"  [sortable]="false" cellClass="options">
                <ng-template let-row="row" ngx-datatable-cell-template>
                   
                    <button  mat-button color="primary" [routerLink]="['/policy/documents/','2', 'details']" >
                        <mat-icon>visibility</mat-icon>
                    </button>

                    <button  mat-button color="success" [routerLink]="['/policy/documents/','2', 'edit']" >
                        <mat-icon>edit</mat-icon>
                    </button>
                    
                    <button  mat-button color="warn" (click)="$event.stopPropagation();delete(row)">
                        <mat-icon >delete</mat-icon>
                    </button>

                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

