<form [formGroup]="form">
    <div class="row">
        <div class="col-md-6 form-group">
            <label>
                السيطرة
            </label>
            <ng-select formControlName="existingControl">
                <ng-option *ngFor="let item of potentials" [value]="item.id">
                    {{ item | lang:'name' }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-6 form-group">
            <label>
                التقييم الحالى
            </label>
            <ng-select formControlName="controlAssessment">
                <ng-option *ngFor="let item of controlAssesment" [value]="item.id">
                    {{ item | lang:'name' }}
                </ng-option>
            </ng-select>
        </div>
    
    
        <div class="col-md-6 form-group">
            <label>
                الإحتمالية
            </label>
            <ng-select formControlName="likelihood">
                <ng-option *ngFor="let item of likelihood" [value]="item.id">
                    {{ item | lang:'name' }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-6 form-group">
            <label>
                التأثير
            </label>
            <ng-select formControlName="potentialRisk">
                <ng-option *ngFor="let item of impacts" [value]="item.id">
                    {{ item | lang:'name' }}
                </ng-option>
            </ng-select>
        </div>
    </div>
</form>