<div class="row">
    <div class="col-3">
        <div class="cats-list">
            <h4>
                التصنيفات
            </h4>
            <app-search (search)="getCatogries($event)"></app-search>
            <mat-selection-list [multiple]="false" (selectionChange)="selectionChange($event)">
                <mat-list-option *ngFor="let cat of catsList" [value]="cat.id" [selected]="selectedCatId == cat.id">
                    <div>
                        <span>
                            {{ cat | lang:'name' }}
                        </span>
                        <i class="fas fa-chevron-left d-none"></i>
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center header-content">
                    <h3 class="card-title m-0">
                        {{ '::الملفات' | abpLocalization }}
                    </h3>
                    <div class="pt-2 d-flex justify-content-end">
                        <div class="visible-content mr-3">
                            <button mat-button (click)="visibleContent = 'cards'" [class.active]="visibleContent === 'cards'">
                                <i class="fas fa-th-large"></i>
                            </button>
                            <button mat-button (click)="visibleContent = 'grid'" [class.active]="visibleContent === 'grid'">
                                <i class="fas fa-list"></i>
                            </button>
                        </div>
        
                        <button id="create" mat-button class="add-btn mr-3"
                            type="button" (click)="openDialog()">
                            <i class="fa fa-plus mr-2"></i>
                            <span class="line mr-2"></span>
                            <span>{{ "::إضافة ملفات" | abpLocalization }}</span>
                        </button>
                        <app-search (search)="getList($event)"></app-search>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row" *ngIf="visibleContent === 'cards'">
                    <div class="col-md-4 card-cont" *ngFor="let item of items">
                        <mat-card class="global-card">
                            <mat-card-title class="text-center">
                                <div class="d-flex align-items-center justify-content-between">
                                    <button mat-button>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <button mat-button>
                                        <i class="fas fa-file-download"></i>
                                    </button>
                                </div>
                            </mat-card-title>
                            <mat-card-content>
                                <div>
                                    <i class="fas fa-file-pdf"></i>
                                    <p>
                                        {{ item | lang:'title' }}
                                    </p>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <div class="actions d-flex align-items-center justify-content-between mb-2">
                                    <button mat-raised-button class="user">
                                        AG
                                    </button>
                                    <div >
                                        <button class="del" mat-raised-button (click)="delete(row)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                        <button class="edit" mat-raised-button (click)="openDialog(row)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="details d-flex align-items-center justify-content-between">
                                    <div>
                                       <p class="mb-1">
                                        تاريخ الرفع
                                       </p>
                                        {{ value | fromNow }}
                                    </div>
                                    <div>
                                        <p class="mb-1 file-size-info">
                                           <span>
                                            حجم الملف
                                           </span>
                                           <span>
                                            700/800 MB
                                           </span>
                                        </p>
                                        <div class="progress-cont">
                                            <div class="progress-bar">

                                            </div>
                                            <div class="text">
                                                <span>
                                                    700 MB
                                                </span>
                                                <span>
                                                    800 MB
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
        
                <!-- <ngx-datatable [class.hide-content]="visibleContent === 'cards'" class="material fullscreen"  [rows]="items" [count]="totalCount" [list]="list" appNgxdatatable
                    (activate)="activate($event)">
        
                    <ngx-datatable-column [name]="'::FilesManagementTitleAr' | abpLocalization" prop="titleAr"></ngx-datatable-column>
                    <ngx-datatable-column [name]="'::FilesManagementTitleEn' | abpLocalization" prop="titleEn"> </ngx-datatable-column>
                   
                    <ngx-datatable-column [name]="'::FilesManagementUploadDate' | abpLocalization" prop="creationTime">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <span title="{{value | date}}"> {{ value | fromNow }}</span></ng-template>
                    </ngx-datatable-column>
        
        
                    <ngx-datatable-column [name]="'::FilesManagementUploadedBy' | abpLocalization" prop="user">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ value.userdto.name | abpLocalization }}
                        </ng-template>
                    </ngx-datatable-column>
        
                    <ngx-datatable-column [name]="'::FileSize' | abpLocalization" prop="size">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ value.attachment.maxFileSize | abpLocalization }}
                        </ng-template>
                    </ngx-datatable-column>
        
                  
        
        
                    <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false"
                        cellClass="options">
                        <ng-template let-row="row" ngx-datatable-cell-template>
        
        
                            <button mat-button color="warn"
                                (click)="$event.stopPropagation();delete(row)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
        
                            <button mat-button (click)="$event.stopPropagation();openDialog(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable> -->
            </div>
        </div>
    </div>
</div>


<abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
        <h3 class="mb-0">{{ (selected?.id ? '::EditDepartment' : '::CreateDepartment' ) | abpLocalization }}</h3>
    </ng-template>

    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="department-name">{{ '::TitleAr' | abpLocalization }}</label><span> * </span>
                    <input type="text" id="TitleAr" class="form-control" formControlName="titleAr" />
                </div>
                <div class="col-md-6 form-group">
                    <label for="department-name">{{ '::TitleEn' | abpLocalization }}</label><span> * </span>
                    <input type="text" id="TitleEn" class="form-control" formControlName="titleEn" />
                </div>
                <div class="col-md-12 form-group">
                    <label >{{ '::التصنيف' | abpLocalization }}</label><span> * </span>
                    <ng-select *ngFor="let cat of catsList" formControlName="categoryId">
                        <ng-option [value]="cat.id">
                            {{ cat | lang:'name' }}
                        </ng-option>
                    </ng-select>
                </div>
                <div class="col-md-12">
                    <!-- <app-upload-files
                        [attachment]="{isMultiple:false}"
                        [attachmentId]="form.controls.attachmentId.value"
                        [disabled]="form.controls.attachmentId.disabled"
                        (OnFileUploaded)="OnFileUploaded($event)" (OnFileBeginUpload)="OnFileBeginUpload($event)"
                        (OnFileEndUpload)="OnFileEndUpload($event)">
                    </app-upload-files> -->

                    <app-table-files
                    [attachment]="{isMultiple:false}"
                    [attachmentId]="form.controls.attachmentId.value"
                    [disabled]="form.controls.attachmentId.disabled"
                    (OnFileUploaded)="OnFileUploaded($event)" (OnFileBeginUpload)="OnFileBeginUpload($event)"
                    (OnFileEndUpload)="OnFileEndUpload($event)">
                    </app-table-files>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" #abpClose>
            {{ '::Close' | abpLocalization }}
        </button>

        <!--added save button-->
        <button class="btn btn-primary" [disabled]="form.invalid || uploading">
            <i class="fa fa-check mr-1"></i>
            {{ '::Save' | abpLocalization }}
        </button>
    </ng-template>
</abp-modal>