<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/"><i class="fa fa-home"></i> </a>
    </li>
    <li *ngIf="breadcrumb.frameworkName" class="breadcrumb-item">
        <a [routerLink]="'/'+breadcrumb.frameworkUrl">{{breadcrumb.frameworkName}}</a>
    </li>
    <li *ngIf="breadcrumb.domainName" class="breadcrumb-item">
        <a [routerLink]="'/'+breadcrumb.domainUrl">{{breadcrumb.domainName}}</a>
    </li>
    <li *ngIf="breadcrumb.subDomainName" class="breadcrumb-item">
        <a [routerLink]="'/'+breadcrumb.subDomainUrl">{{breadcrumb.subDomainName}}</a>
    </li>
    <li *ngIf="breadcrumb.controlName" class="breadcrumb-item">
        <a [routerLink]="'/'+breadcrumb.controlUrl">{{breadcrumb.controlName}}</a>
    </li>
    <li *ngIf="breadcrumb.subControlName" class="breadcrumb-item">
        <a [routerLink]="'/'+breadcrumb.subControlUrl">{{breadcrumb.subControlName}}</a>
    </li>
</ol>