

#addBtn{
    color:var(--main-green)!important;
    border: 2px solid var(--main-green);
    border-radius: 5px;
    padding: 2px 14px;
}

#addBtn:hover{
    background: var(--main-green)!important;
    color: #E3FEF3!important;
}