.filter-btn{
    border: 1px solid #707070;
    &.show {
        color: #4775FD;
        border-color: #4775FD;
    }
    
}

.filter-row {
    // overflow: hidden;
    // transition: max-height .3s ease-out, opacity 0.3s ease 0.5;
    transition: all .3s ease;
    transition-property: max-height, opacity;

    opacity: 0;
    max-height: 0;
    &.show {
        opacity: 1;
        max-height: 700px;
    }
}

.status-icon {
    font-size: 20px;
}