:host {
    mat-dialog-actions {
        // justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 0;
        // button {
        //     color: #000000;

        //     &:disabled {
        //         color: rgba(0,0,0,.5);
        //     }
        // }
    }
}

mat-dialog-content {
    min-width: 75vw;
}