

<div class="row">
    <div class="col-md-12 form-group">
        <label >
            النوع
        </label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button [value]="1">مخاطر</mat-radio-button>
            <span class="space"></span>
            <mat-radio-button [value]="2">فرصة</mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="col-md-6 form-group">
        <label for="nameAr">
            الخطر بالعربى
        </label>
        <input type="text" id="nameAr" class="form-control" formControlName="nameAr" />
    </div>
    <div class="col-md-6 form-group">
        <label for="nameEn">
            الخطر بالإنجليزى
        </label>
        <input type="text" id="nameEn" class="form-control" formControlName="nameEn"/>
    </div>


    <div class="col-md-6 form-group">
        <label for="detailsAr">
            شرح الخطر بالعربى
        </label>
        <textarea type="text" id="detailsAr" class="form-control" formControlName="detailsAr"></textarea>
    </div>
    <div class="col-md-6 form-group">
        <label for="detailsEn">
            شرح الخطر بالإنجليزى
        </label>
        <textarea type="text" id="detailsEn" class="form-control" formControlName="detailsAr"></textarea>
    </div>



    <div class="col-md-6 form-group">
        <label for="affectDetailsAr">
            وصف تأثير الخطر بالعربى
        </label>
        <textarea type="text" id="affectDetailsAr" class="form-control" formControlName="affectDetailsAr" ></textarea>
    </div>
    <div class="col-md-6 form-group">
        <label for="affectDetailsEn">
            وصف تأثير الخطر بالإنجليزى
        </label>
        <textarea type="text" id="affectDetailsEn" class="form-control" formControlName="affectDetailsEn"></textarea>
    </div>

    <div class="col-md-6 form-group">
        <label>
            القطاع
        </label>
        <ng-select formControlName="sectorId">
            <ng-option *ngFor="let i of [1,2,3,4,5]">
                القطاع
                {{i}}
            </ng-option>
        </ng-select>
    </div>
    <div class="col-md-6 form-group">
        <label>
            الإدارة
        </label>
        <ng-select formControlName="departmentId">
            <ng-option *ngFor="let i of [1,2,3,4,5]">
                الإدارة
                {{i}}
            </ng-option>
        </ng-select>
    </div>


    <div class="col-md-6 form-group">
        <label>
            التصنيف
        </label>
        <ng-select formControlName="categoryId">
            <ng-option *ngFor="let i of [1,2,3,4,5]">
                التصنيف
                {{i}}
            </ng-option>
        </ng-select>
    </div>
    <div class="col-md-6 form-group">
        <label>
            صاحب الخطر
        </label>
        <ng-select formControlName="ownerId">
            <ng-option *ngFor="let i of [1,2,3,4,5]">
                صاحب الخطر
                {{i}}
            </ng-option>
        </ng-select>
    </div>


</div>