:host {
    ngx-datatable ::ng-deep{
        datatable-body-row {
            cursor: pointer;
        }
        .options .mat-icon{
            margin:0!important;
        }

      
   
    }
}


#createBtn{
    background-color: var(--main-green) !important; 
    color: #fff;;
}