<div class="d-flex justify-content-start align-items-center ps-3 bread_crumb">
    <!-- <mat-icon>arrow_forward</mat-icon> -->
    
    <a routerLink="/" class="bread_crumb_item">
        {{ "::Document:Home" | abpLocalization }}
    </a>

    / 

    <a [routerLink]="['/documents']" class="bread_crumb_item">
        {{ "::Document:Policies" | abpLocalization }}
    </a>

    /

    <a  [routerLink]="['/documents']" class="bread_crumb_item">
        {{ "::Document:DocumentManagement" | abpLocalization }}
    </a>

    /
    
    <a class="bread_crumb_item">
        {{ "::Document:DocumentView" | abpLocalization }}
    </a>
</div>


<div class="info mb-3 mt-3">
    <div class="card-top">
      <h2 class="m-0">
        {{ documentData?.name }}
      </h2>
    </div>

    <div>
        <div>
            <span>
            {{ "::DocumentCode" | abpLocalization }}
            </span>
            <h4>
                {{ documentData?.code }}
            </h4>
        </div>
        
        <!-- <div>
            <span>
            {{ "::Document:DocumentOwner" | abpLocalization }}
            </span>
            <h4>
                <span  *ngFor="let item of documentData?.owners" class="badge m-1">{{item?.name}}</span>
            </h4>
        </div> -->

        <div>
            <span>
                {{ '::CreationTime' | abpLocalization }}
            </span>
            <h4>
                {{ documentData?.creationTime | date : 'yyyy/MM/dd' }}
            </h4>
        </div>

        <div>
            <span>
                {{ '::Document:CompliancePercentage' | abpLocalization }}
            </span>
            <span >
                {{ documentData?.compliancePercentage }}
            </span>
        </div>

        <div>
            <span>
                {{ '::Document:Status' | abpLocalization }}
            </span>
            <span class="status" [class]="DocumentStatus[documentData?.status]">
                {{ ( '::Document:Enum:' + DocumentStatus[documentData?.status]  ) | abpLocalization }}
            </span>
        </div>
 
    </div>
  </div>


  <div class="tabs d-flex align-items-center p-3">
    <button mat-raised-button routerLink="details" routerLinkActive="active">
        {{ '::Document:DocumentInformation' | abpLocalization }}
    </button>
    <button mat-raised-button routerLink="settings" routerLinkActive="active" >    
        {{ '::Document:DocumentSettings' | abpLocalization }}
    </button>
    <button mat-raised-button routerLink="revision-approve" routerLinkActive="active" >
        {{ '::ReviewApprove' | abpLocalization }}
    </button>
    <button mat-raised-button routerLink="activities" routerLinkActive="active" >
        {{ '::Document:DocumentActivities' | abpLocalization }}
    </button>
    
  </div>

  <div class="p-3">
    <router-outlet (activate)="changeRoute($event)" *ngIf="documentData"></router-outlet>
  </div>