section {
    margin-bottom: 3rem;
    header {
        button {
            border-radius: 50px;
        }
    }
    h3, h4, h2 {
        font-weight: bold;
    }
}

mat-accordion {
    mat-expansion-panel{

        section {
            margin-bottom: 0;
        }
    }
}

