<div class="card">
    <header class="card-header">
        <button mat-button [routerLink]="['/', parentPath, subDomainData?.frameworkId, 'domains' ]" class="back-button" [queryParams]="{expandedDomainId:mainDomainData?.id}">
            <mat-icon>
                arrow_back_ios
            </mat-icon>
            <span>
                {{ '::ReturnBack' | abpLocalization }}
            </span>
        </button>
    </header>
    <div class="card-body">
        <ng-container *ngIf="mainDomainData && subDomainData && frameWorkData">
            <section>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="mb-0 d-flex align-items-center">
                        <!-- <tr>
                            <td>
                                {{ '::FrameworkName' | abpLocalization }}
                            </td>
                            <td>
                                <a [routerLink]="['/', parentPath, subDomainData?.frameworkId, 'details']">
                                    {{frameWorkData | lang:'name'}}
                                </a>
                            </td>
                            <td>
                                {{ (frameWorkData | lang : 'levelFirstName') || ('::MainDomainName' | abpLocalization) }}
                            </td>
                            <td>
                                <a [routerLink]="['/', parentPath, subDomainData?.frameworkId, 'domains']" [queryParams]="{expandedDomainId:mainDomainData?.id}">
                                    {{mainDomainData | lang:'name'}}
                                </a>
                            </td>
                        </tr> -->

                        <a [routerLink]="['/', parentPath, subDomainData?.frameworkId, 'details']">
                            {{frameWorkData | lang:'name'}}
                        </a>

                        <mat-icon>chevron_left</mat-icon>

                        <a [routerLink]="['/', parentPath, subDomainData?.frameworkId, 'domains']" [queryParams]="{expandedDomainId:mainDomainData?.id}">
                            {{mainDomainData | lang:'name'}}
                        </a>

                        <mat-icon>chevron_left</mat-icon>

                        {{ subDomainData | lang:'name' }}
                    </h2>
                    <ng-container *abpPermission="'ComplianceSystem.Domain.Create'">
                        <button *ngIf="showButton" mat-button
                            (click)="openDomainDialog(FormMode.Edit)" class="add-blue">
                            <mat-icon class="me-1">edit</mat-icon>
                            {{ '::Edit' | abpLocalization }}
                        </button>
                    </ng-container>

                    <!-- <ng-container *ngIf="!showButton && mainDomainData.responsibleId == userId">
                        <button *ngIf="mainDomainData.complianceStatus == ComplianceStatus.ReadyForInternalAssessment"
                        class="add-blue" mat-button
                        (click)="startInternalAssessmentById()">
                            {{ '::Compliance' | abpLocalization }}
                        </button>

                        <button *ngIf="mainDomainData.complianceStatus == ComplianceStatus.UnderInternalAssessment"
                        class="add-blue" mat-button
                        (click)="endInternalAssessmentById()">
                            {{ '::EndInternalAssessment' | abpLocalization }}
                        </button>

                    </ng-container> -->
                </div>

                <div class="details-table-cont">
                    <table class="table">
                        <tr>
                            <td>
                                {{ '::ReferenceNumber' | abpLocalization }}
                            </td>
                            <td colspan="3">
                                {{subDomainData?.reference}}
                            </td>
                        </tr>

                        <!-- <tr>
                            <td>
                                {{ '::FrameworkName' | abpLocalization }}
                            </td>
                            <td>
                                <a [routerLink]="['/', parentPath, subDomainData?.frameworkId, 'details']">
                                    {{frameWorkData | lang:'name'}}
                                </a>
                            </td>
                            <td>
                                {{ (frameWorkData | lang : 'levelFirstName') || ('::MainDomainName' | abpLocalization) }}
                            </td>
                            <td>
                                <a [routerLink]="['/', parentPath, subDomainData?.frameworkId, 'domains']" [queryParams]="{expandedDomainId:mainDomainData?.id}">
                                    {{mainDomainData | lang:'name'}}
                                </a>
                            </td>
                        </tr> -->
                        
                        <tr>
                            <td>
                                {{ '::DomainNameEn' | abpLocalization }}
                            </td>
                            <td>
                                {{subDomainData?.nameEn}}
                            </td>
                            <td>
                                {{ '::CreationTime' | abpLocalization }}
                            </td>
                            <td>
                                {{subDomainData?.creationTime | date:'yyyy-MM-dd' }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ '::DomainDescriptionAr' | abpLocalization }}
                            </td>
                            <td>
                                {{subDomainData?.descriptionAr}}
                            </td>
                            <td>
                                {{ '::DomainDescriptionEn' | abpLocalization }}
                            </td>
                            <td>
                                {{subDomainData?.descriptionEn}}
                            </td>
                        </tr>

                        <tr>
                            <td> {{ '::Departments' | abpLocalization }} </td>
                            <td colspan="3">
                                <mat-chip-listbox>
                                    <mat-chip *ngFor="let department of subDomainData?.departments">
                                        {{department.name}}
                                    </mat-chip>
                                </mat-chip-listbox>
                            </td>
                        </tr>

                        <ng-container *ngIf="parentPath === 'compliance-assessment'; else InFrameworks">
                            <tr>
                                <!-- <td>
                                    {{ '::Status' | abpLocalization }}
                                </td>
                                <td>
                                    <span class="status" [class]="SharedStatus[subDomainData?.status]">
                                        {{ ('::Enum:SharedStatus:' + subDomainData?.status) | abpLocalization }}
                                    </span>
                                </td> -->
    
                                
                                <td>
                                    {{ '::ComplianceStatus' | abpLocalization }}
                                </td>
                                <td>
                                    <span class="status"  [class]="ComplianceStatus[subDomainData?.complianceStatus]">
                                        {{ ('::' + ComplianceStatus[subDomainData?.complianceStatus] ) | abpLocalization }}
                                    </span>
                                    <!-- <button mat-button class="status" [class]="ComplianceStatus[subDomainData?.complianceStatus]">
                                        {{ ('::' + ComplianceStatus[subDomainData?.complianceStatus] ) | abpLocalization }}
                                    </button> -->
                                </td>

                                <td>
                                    {{ '::CompliancePercentage' | abpLocalization }}
                                </td>
                                <td colspan="3">
                                  {{ subDomainData?.compliancePercentage }}
                                </td>

                            </tr>
                        </ng-container>
                        
                        <ng-template #InFrameworks>
                            <!-- <tr>
                                <td>
                                    {{ '::Status' | abpLocalization }}
                                </td>
                                <td>
                                    <span class="status" [class]="SharedStatus[subDomainData?.status]">
                                        {{ ('::Enum:SharedStatus:' + subDomainData?.status) | abpLocalization }}
                                    </span>
                                </td>
                            </tr> -->
                        </ng-template>
                        

                        
                    </table>
                </div>
                
            </section>

            <section>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="m-0">
                        {{ (frameWorkData | lang:'levelThirdName') || ('::ControlMainControls' | abpLocalization) }}
                        ( {{ mainControlsItems?.length }} )
                    </h3>

                    <div *ngIf="showButton">
                        <button (click)="openControlDialog(null, FormMode.Create, null, null)"
                            *abpPermission="'ComplianceSystem.Control.Create'" id="create" mat-button
                            class="add-raised-btn me-3" type="button">
                            <i class="fa fa-plus me-1"></i>
                            <span>
                                <ng-container *ngIf="frameWorkData | lang:'levelThirdName'; else showCreateControl">
                                    {{'::Create' | abpLocalization}}
                                    {{ frameWorkData | lang:'levelThirdName' }}
                                </ng-container>
                                <ng-template #showCreateControl>
                                    {{ "::CreateControl" | abpLocalization: ('::ControlMainControl' | abpLocalization) }}
                                </ng-template>
                            </span>
                        </button>
                        <button mat-raised-button class="me-2 delete-btn" color="warn" [disabled]="!deleteLength"
                            (click)="deleteItems()">
                            <mat-icon class="me-1">delete_forever</mat-icon>
                            {{ '::Delete' | abpLocalization }}
                        </button>
                    </div>
                </div>

                <mat-accordion *ngFor="let mainControl of mainControlsItems" class="table-details domains_accordion">
                    <mat-expansion-panel #panel [class.marked-for-delete]="selectedToDelete[mainControl.id]"  (opened)="expansionOpened(mainControl)" [expanded]="expandedMainControlId == mainControl.id">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="d-flex justify-content-between align-items-center">
                                <span>
                                    {{ mainControl | lang:'name' }}
                                </span>
                                <div *ngIf="showButton">
                                 <!--    <button *abpPermission="'ComplianceSystem.Control.Update'" class="mr-3" mat-button
                                        (click)="openControlDialog(mainControl, FormMode.Edit, null, null); $event.stopPropagation()">
                                        <mat-icon>edit</mat-icon>
                                        {{ '::Edit' | abpLocalization }}
                                    </button> -->
                                    <mat-checkbox class="mr-3" (click)="$event.stopPropagation()"
                                        (change)="selectChanged($event.checked, mainControl.id)"></mat-checkbox>
                                </div>
                            </mat-panel-title>

                            <div class="grid_addon">
                                <div class="row">
                                    <div class="col">
                                        <table class="table table-sm m-0 table-bordered">
                                                <tr class="row_head">
                                                    <td >{{ '::ReferenceNumber' | abpLocalization }}</td> 
                                                    <td>{{ '::DomainNameEn' | abpLocalization }}</td>    
                                                    <td>{{ '::Number of Controls' | abpLocalization }}</td>    
                                                    <td>{{ '::FrameworkLastUpdate' | abpLocalization }}</td>    
                                                    <td>{{ '::CompliancePercentage' | abpLocalization }}</td>    
                                                    <td>{{ '::Options' | abpLocalization }}</td>    
                                                </tr>
                
                                                <tr>
                                                    <td> {{ mainControl.reference }}</td>
                                                    <td> {{ mainControl?.nameEn }}</td>
                                                    <td>{{mainControl?.subControlsCount}}</td>
                                                    <td> {{ mainControl.lastModificationTime | fromNow }}</td>
                                                    <td> {{ mainControl?.compliancePercentage }}</td>
                                                    <td> 
                                                        <div *ngIf="showButton">
                                                            <button *abpPermission="'ComplianceSystem.Control.Update'" class="mr-3  small-btn" mat-button
                                                                (click)="openControlDialog(mainControl, FormMode.Edit, null, null); $event.stopPropagation()">
                                                                <mat-icon>edit</mat-icon>
                                                            <!--  {{ '::Edit' | abpLocalization }} -->
                                                            </button> 
                                                        </div>
                                                        
                                                        <button class="mr-3 small-btn" mat-button
                                                        (click)="openDomainDetailsDialog(mainControl); $event.stopPropagation()">
                                                            <mat-icon>
                                                                visibility
                                                            </mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            
                        </mat-expansion-panel-header>

                        <section>


                            <app-compliance-form
                                *ngIf="subDomainData?.complianceStatus !== ComplianceStatus.NotStarted && parentPath === 'compliance-assessment' && !subControlsTable.hasSubControls "
                                [userId]="userId"
                                [frameWorkData]="frameWorkData"
                                [controlData]="mainControl" [domainData]="mainDomainData"></app-compliance-form>
                            <!-- <app-compliance-form *ngIf="subDomainData?.complianceStatus !== ComplianceStatus.NotStarted" [controlData]="mainControl"></app-compliance-form> -->

                            <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
                                <h4 class="m-0">
                                    {{ (frameWorkData | lang:'levelFourName') || ('::ControlSubControls' | abpLocalization) }}
                                    ( {{ subControlsTable?.items?.length }} )
                                </h4>

                                <ng-container *ngIf="showButton">
                                    <button *abpPermission="'ComplianceSystem.Control.Create'" id="create" mat-button
                                        class="add-raised-btn add-blue" type="button"
                                        (click)="openControlDialog(null, FormMode.Create, mainControl, subControlsTable)">
                                        <i class="fa fa-plus me-1"></i>
                                        <span>
                                            <ng-container
                                                *ngIf="frameWorkData | lang:'levelFourName'; else showCreateSubControl">
                                                {{'::Create' | abpLocalization}}
                                                {{ frameWorkData | lang:'levelFourName' }}
                                            </ng-container>
                                            <ng-template #showCreateSubControl>
                                                {{ "::CreateControl" | abpLocalization: ('::ControlSubControl' |
                                                abpLocalization) }}
                                            </ng-template>
                                        </span>
                                    </button>
                                </ng-container>
                            </div>

                            <app-expansion-sub-controls-table [parentPath]="parentPath" #subControlsTable
                                [showButton]="showButton" [expanded]="panel.expanded" [subDomainId]="subDomainId"
                                [mainControl]="mainControl" [frameWorkData]="frameWorkData">
                            </app-expansion-sub-controls-table>
                        </section>

                    </mat-expansion-panel>
                </mat-accordion>
            </section>
        </ng-container>
    </div>
</div>


<ng-template #domainDetailsDialog let-data  let-ref="dialogRef">
    <div class="app-dialog">
        <div mat-dialog-title class="pt-2 pb-2 pr-3 pl-3 dialog-title d-flex align-items-center justify-content-between">
            {{  data.data?.nameEn }}
        </div>

        <mat-dialog-content >
            <div class="details-table-cont">
                <table class="table">
                    <tr>
                        <td>
                            {{ '::ReferenceNumber' | abpLocalization }}
                        </td>
                        <td colspan="3">
                            {{data.data?.reference}}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            {{ '::ControlNameEn' | abpLocalization }}
                        </td>
                        <td>
                            {{data.data?.nameEn}}
                        </td>
                        <td>
                            {{ '::CreationTime' | abpLocalization }}
                        </td>
                        <td>
                            {{data.data?.creationTime | date:'yyyy-MM-dd' }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            {{ '::ControlDescriptionAr' | abpLocalization }}
                        </td>
                        <td>
                            {{data.data?.descriptionAr}}
                        </td>
                        <td>
                            {{ '::ControlDescriptionEn' | abpLocalization }}
                        </td>
                        <td>
                            {{data.data?.descriptionEn}}
                        </td>
                    </tr>
                    <tr *ngIf="parentPath === 'compliance-assessment';">
                        <td>
                            {{ '::CompliancePercentage' | abpLocalization }}
                        </td>
                        <td colspan="3">
                          {{ data.data?.compliancePercentage }}
                        </td>
                        <!-- <td>
                            {{ '::Status' | abpLocalization }}
                        </td>
                        <td>
                            <span class="status" [class]="SharedStatus[mainControl?.status]">
                                {{ ('::Enum:SharedStatus:' + mainControl?.status) | abpLocalization }}
                            </span>
                        </td> -->
                    </tr>
                    <!-- <ng-template #name>
                        <td>
                            {{ '::Status' | abpLocalization }}
                        </td>
                        <td colspan="3">
                            <span class="status" [class]="SharedStatus[mainControl?.status]">
                                {{ ('::Enum:SharedStatus:' + mainControl?.status) | abpLocalization }}
                            </span>
                        </td>
                    </ng-template> -->
                </table>
            </div>

        </mat-dialog-content>
        
        <mat-dialog-actions class="actions mb-0">
            <button type="button" mat-button (click)="ref.close()" class="red"> 
                {{ '::Close' | abpLocalization }}
            </button>
        </mat-dialog-actions>
    </div>
</ng-template>


<ng-template #domainDialog let-data let-ref="dialogRef">
    <app-create-domain [data]="data.data" [ref]="ref" [mode]="data.mode" [frameWorkData]="frameWorkData"
        [mainDomain]="mainDomainData"></app-create-domain>
</ng-template>

<ng-template #controlDialog let-data let-ref="dialogRef">
    <app-create-control [data]="data.data" [ref]="ref" [mode]="data.mode" [frameWorkData]="frameWorkData"
        [subDomainId]="subDomainId" [mainControl]="data.mainControl"></app-create-control>
</ng-template>