<form [formGroup]="form" (ngSubmit)="save()">
    <div mat-dialog-title class="d-flex align-items-center justify-content-between">
        <h2 >
            {{ '::' + mode | abpLocalization }}
            {{ '::Document:Principle' | abpLocalization }}
        </h2>
    </div>
    
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="name">{{ '::اسم القاعدة' | abpLocalization }}</label><span> * </span>
                    <input id="name" class="form-control" formControlName="name">
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label for="description">{{ '::Document:Description' | abpLocalization }}</label>
                    <textarea id="description" class="form-control" formControlName="description"></textarea>
                </div>
            </div>

            <div class="col-12">
                <label>Multi select + Typeahead + Custom items (tags)</label>
                <ng-select 
                        appendTo="body"
                        bindLabel="nameAr"
                        [addTag]="false"
                        [clearSearchOnAdd]="false"
                        [multiple]="true"
                        [hideSelected]="true"
                        [trackByFn]="trackByFn"
                        [minTermLength]="2"
                        [loading]="controlsLoading"
                        typeToSearchText="Please enter 2 or more characters"
                        [typeahead]="controlsInput$"
                        formControlName="controls">
                        <ng-option *ngFor="let control of controls$ | async" [value]="control.id">
                            {{ control.nameAr }}
                        </ng-option>
                </ng-select>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="actions">
        <button mat-button cdkFocusInitial class="green" type="submit" [disabled]="isSaving" >
            <i class="fa fa-check me-1"></i>
            {{ '::Save' | abpLocalization }}
        </button>

        <button type="button" mat-button (click)="ref.close()" class="red"> 
            {{ '::Cancel' | abpLocalization }}
        </button>
    </mat-dialog-actions>
</form>