<form [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
        <div class="col-md-12 mb-3 mt-3 d-flex align-items-center justify-content-between applicable-question">
            <div class="d-flex align-items-center">
                <label>
                    {{ '::IsSystemApplicable' | abpLocalization }}
                </label>
                <mat-radio-group formControlName="applicable" color="primary" class="mr-4 ml-4">
                    <mat-radio-button class="ml-3 mr-3" [value]="ApplicableType.Applicable"> {{ '::yes' | abpLocalization }} </mat-radio-button>
                    <mat-radio-button class="ml-3 mr-3" [value]="ApplicableType.NotApplicable"> {{ '::no' | abpLocalization }} </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="actions" *ngIf="form.controls.applicable.value == ApplicableType.NotApplicable && !form.disabled">
                <button type="button" (click)="saveAssessment()" mat-button class="green" [disabled]="isSaving">
                    <i class="fa fa-check mr-1"></i>
                    {{ '::Save' | abpLocalization }}
                </button>
            </div>
        </div>
    </div>

    <section *ngIf="form.controls.applicable.value == ApplicableType.Applicable">
        <div class="row">
            <div class="col-md-3 col-xl-2 form-group">
                <label for="">
                    {{ '::AssessmentComplianceLevel' | abpLocalization }}
                </label>
                <ng-select formControlName="complianceLevel">
                    <ng-option *ngFor="let item of complianceLevelTypeOptions" [value]="item.value">
                        {{ item.value }}
                    </ng-option>
                </ng-select>
            </div>
    
            <div class="col-md-3 col-xl-2 form-group">
                <label for="complianceDate"> {{ '::AssessmentComplianceDate' | abpLocalization }} </label>
                <input #complianceDate="ngbDatepicker" class="form-control" id="complianceDate" name="date" formControlName="complianceDate"
                ngbDatepicker (click)="complianceDate.toggle()" />
            </div>
    
            <div class="col-md-3 col-xl-2 form-group">
                <label for="complianceDate"> {{ '::AssessmentNextComplianceDate' | abpLocalization }} </label>
                <input #nextDate="ngbDatepicker" class="form-control" id="nextDate" name="nextDate" formControlName="nextComplianceDate"
                ngbDatepicker (click)="nextDate.toggle()" />
            </div>
    
            <h5 class="col-md-12">
                {{ '::AssessmentRequirement' | abpLocalization }}
            </h5>
    
            <div class="col-md-3 col-xl-2 form-group">
                <label class="d-block" for="">
                    {{ '::AssessmentDocumented' | abpLocalization }}
                </label>
                <mat-radio-group formControlName="documented" color="primary" (change)="changeAnswer($event.value, 'documented' )">
                    <mat-radio-button class="ml-3 mr-3" [value]="DocumentedType.Documented"> {{ '::yes' | abpLocalization }} </mat-radio-button>
                    <mat-radio-button class="ml-3 mr-3" [value]="DocumentedType.PartialDocumented"> {{ '::Enum:DocumentedType:1' | abpLocalization }} </mat-radio-button>
                    <mat-radio-button class="ml-3 mr-3" [value]="DocumentedType.NotDocumented"> {{ '::no' | abpLocalization }} </mat-radio-button>
                </mat-radio-group>
                <div class="form-group mb-0 mt-2" [class.d-none]="form.controls.documented.value !== DocumentedType.PartialDocumented">
                    <input type="number" class="form-control" formControlName="documentedPercentage" />
                </div>
            </div>
    
            <div class="col-md-3 col-xl-2 form-group">
                <label class="d-block" for="">
                    {{ '::AssessmentImplemented' | abpLocalization }}
                </label>
                <mat-radio-group formControlName="implemented" color="primary" (change)="changeAnswer($event.value, 'implemented' )">
                    <mat-radio-button class="ml-3 mr-3" [value]="ImplementedType.Implemented"> {{ '::yes' | abpLocalization }} </mat-radio-button>
                    <mat-radio-button class="ml-3 mr-3" [value]="ImplementedType.PartialImplemented"> {{ '::Enum:DocumentedType:1' | abpLocalization }} </mat-radio-button>
                    <mat-radio-button class="ml-3 mr-3" [value]="ImplementedType.NotImplemented"> {{ '::no' | abpLocalization }} </mat-radio-button>
                </mat-radio-group>
                <div class="form-group mb-0 mt-2" [class.d-none]="form.controls.implemented.value !== ImplementedType.PartialImplemented">
                    <input type="number" class="form-control" formControlName="implementedPercentage" />
                </div>
            </div>
    
            <div class="col-md-3 col-xl-2 form-group">
                <label class="d-block" for="">
                    {{ '::AssessmentEffective' | abpLocalization }}
                </label>
                <mat-radio-group formControlName="effective" color="primary" (change)="changeAnswer($event.value, 'effective' )">
                    <mat-radio-button class="ml-3 mr-3" [value]="EffectiveType.Effective"> {{ '::yes' | abpLocalization }} </mat-radio-button>
                    <mat-radio-button class="ml-3 mr-3" [value]="EffectiveType.PartialEffective"> {{ '::Enum:DocumentedType:1' | abpLocalization }} </mat-radio-button>
                    <mat-radio-button class="ml-3 mr-3" [value]="EffectiveType.NotEffective"> {{ '::no' | abpLocalization }} </mat-radio-button>
                </mat-radio-group>
                <div class="form-group mb-0 mt-2" [class.d-none]="form.controls.effective.value !== EffectiveType.PartialEffective">
                    <input type="number" class="form-control" formControlName="effectivePercentage" />
                </div>
            </div>
    
            <div class="col-md-10 col-xl-8 form-group">
                <label for="control-nameAr">{{ '::AssessmentComment' | abpLocalization }}</label>
                <textarea id="control-nameAr" class="form-control" formControlName="comment"></textarea>
            </div>
    
            <!-- <div class="col-md-10 col-xl-8 form-group">
                <label for="reviewerComment">{{ '::ReviewerComment' | abpLocalization }}</label>
                <textarea id="reviewerComment" class="form-control" formControlName="reviewerComment"></textarea>
            </div> -->
    
            <div class="col-md-12">
                <app-table-files
                [attachment]="{isMultiple:false}"
                [attachmentId]="form.controls.attachmentId.value"
                [disabled]="form.controls.attachmentId.disabled"
                (OnFileUploaded)="OnFileUploaded($event)" (OnFileBeginUpload)="OnFileBeginUpload($event)"
                (OnFileEndUpload)="OnFileEndUpload($event)"
                (OnDeleteFile)="OnDeleteFile($event)">
                </app-table-files>
                
                <p *ngIf="form.controls.addFiles.invalid" class="invalid-feedback d-block mt-2">
                    {{ '::RequiredAttachment' | abpLocalization }}
                </p>
            </div>
        </div>

        <div class="col-md-12 d-flex justify-content-end actions mt-4" *ngIf="!form.disabled">
            <!-- <button type="button" mat-button class="red"> 
                {{ '::Cancel' | abpLocalization }}
            </button> -->
        
            <button mat-button class="green" [disabled]="uploading || isSaving" type="submit" >
                <i class="fa fa-check mr-1"></i>
                {{ '::Save' | abpLocalization }}
            </button>
        </div>
    </section>
</form>