.compliance-info {
    h4 {
        margin-bottom: 0;
        padding: 12px 16px;
        background-color: #F2F9F6;
    }
    div.details-table-cont {
        border-radius: 0;
        box-shadow: none;
    }
}