<!-- <section class="compliance-info">
    <h4>
        بيانات الامتثال
    </h4>
    <div class="details-table-cont">
        <table class="table">
            <tr>
                <td>
                    {{ '::مستوى الامتثال' | abpLocalization }}
                </td>
                <td colspan="3">
                    3
                </td>
            </tr>

            <tr>
                <td>
                    {{ '::تاريخ الامتثال' | abpLocalization }}
                </td>
                <td>
                    فبراير 2023
                </td>
                <td>
                    {{ '::تاريخ الامتثال التالى' | abpLocalization }}
                </td>
                <td>
                    فبراير 2023
                </td>
            </tr>

            <tr>
                <td>
                    {{ '::موثق' | abpLocalization }}
                </td>
                <td>
                    جزئى
                </td>
                <td>
                    {{ '::منفذ' | abpLocalization }}
                </td>
                <td>
                    جزئى
                </td>
            </tr>

            <tr>
                <td>
                    {{ '::فعال' | abpLocalization }}
                </td>
                <td colspan="3">
                    جرئى
                </td>
            </tr>

            <tr>
                <td>
                    {{ '::التعليق' | abpLocalization }}
                </td>
                <td colspan="3">
                    تم ارفاق جميع الوثائق المطلوبة 
                </td>
            </tr>

        </table>
    </div>
</section> -->

<form [formGroup]="form">
    <div class="row">

        <div class="col-md-3 form-group">
            <label for="">
                مستوى الإمتثال
            </label>
            <ng-select formControlName="level">
                <ng-option *ngFor="let i of [1,2,3,4,5]" [value]="i">
                    {{ i }}
                </ng-option>
            </ng-select>
        </div>

        <div class="col-md-3 form-group">
            <label for="complianceDate"> {{ '::تاريخ الإمتثال' | abpLocalization }} </label>
            <input #complianceDate="ngbDatepicker" class="form-control" id="complianceDate" name="date" formControlName="date"
            ngbDatepicker (click)="complianceDate.toggle()" />
        </div>

        <div class="col-md-3 form-group">
            <label for="complianceDate"> {{ '::تاريخ الإمتثال التالى' | abpLocalization }} </label>
            <input #nextDate="ngbDatepicker" class="form-control" id="nextDate" name="nextDate" formControlName="nextDate"
            ngbDatepicker (click)="nextDate.toggle()" />
        </div>

        <h5 class="col-md-12">
            المتطلبات
        </h5>

        <div class="col-md-3 form-group">
            <label for="">
                موثق
            </label>
            <mat-radio-group formControlName="trusted">
                <mat-radio-button [value]="1">نعم</mat-radio-button>
                <mat-radio-button [value]="2">جزئى</mat-radio-button>
                <mat-radio-button [value]="3">لأ</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="col-md-3 form-group">
            <label for="">
                منفذ
            </label>
            <mat-radio-group formControlName="completed">
                <mat-radio-button [value]="1">نعم</mat-radio-button>
                <mat-radio-button [value]="2">جزئى</mat-radio-button>
                <mat-radio-button [value]="3">لأ</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="col-md-3 form-group">
            <label for="">
                فعّال
            </label>
            <mat-radio-group formControlName="effective">
                <mat-radio-button [value]="1">نعم</mat-radio-button>
                <mat-radio-button [value]="2">جزئى</mat-radio-button>
                <mat-radio-button [value]="3">لأ</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="col-md-10 form-group">
            <label for="control-nameAr">{{ '::Comment' | abpLocalization }}</label>
            <textarea id="control-nameAr" class="form-control" formControlName="comment"></textarea>
        </div>

    </div>
</form>