<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center header-content mb-3">
            <h3 class="card-title m-0">
                {{ '::RiskAndOpportunity' | abpLocalization }}
            </h3>
            <div class="d-flex justify-content-end">
                <button *abpPermission="'ComplianceSystem.RiskAndOpportunity.Create'" id="create" mat-button class="add-btn mr-3" type="button" routerLink="/risks-management/create">
                    <i class="fa fa-plus mr-2"></i>
                    <span class="line mr-2"></span>
                    <span>{{ "::Create" | abpLocalization }}</span>
                </button>
                <app-search (search)="searchVal = $event;list.get()"></app-search>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center tabs-cont">
            <button mat-button class="filter-btn" (click)="showFilters = !showFilters" [class.show]="showFilters">
                <i class="fas fa-filter"></i>
            </button>
            
            <button mat-button (click)="changeTab(Type.Risk)" [class.active]="selectedType == Type.Risk">
              {{ '::Risk' | abpLocalization }}
            </button>
            <span>
                |
            </span>
            <button mat-button (click)="changeTab(Type.Opportunity)" [class.active]="selectedType == Type.Opportunity">
              {{ '::Opportunity' | abpLocalization }}
            </button>
        </div>

          <div class="row filter-row" [class.show]="showFilters">
            <div class="col-md-3 form-group">
                <label>
                    {{ '::Status' | abpLocalization }}
                </label>
                <ng-select (change)="changeFilter({'Status': $event || null})">
                    <ng-option *ngFor="let st of Statusdrop" [value]="st.id">
                        {{ st | lang:'name' }}
                    </ng-option>
                </ng-select>
            </div>
            <div class="col-md-3 form-group">
                <label>
                    {{ (activeTabName +'Potential') | abpLocalization }}
                </label>
                <ng-select (change)="changeFilter({'Potential': $event || null})">
                    <ng-option *ngFor="let Potential of Potentials" [value]="Potential.id">
                        {{ Potential | lang:'name' }}
                    </ng-option>
                </ng-select>
            </div>
              <div class="col-md-3 form-group">
                <label>
                    {{ '::CreatedBy' | abpLocalization }}
                </label>
                <ng-select (change)="changeFilter({'UserId': $event || null})">
                    <ng-option *ngFor="let user of users" [value]="user.id">
                        {{user.name}}
                    </ng-option>
                </ng-select>
            </div>
            <div class="col-md-3 form-group">
              <label>
                  {{ '::Department' | abpLocalization }}
              </label>
              <ng-select (change)="changeFilter({'DepartmentId': $event || null})">
                    <ng-option *ngFor="let department of departments" [value]="department.id">
                        {{ department.name }}
                    </ng-option>
                </ng-select>
            </div>
          </div>
    </div>



    <div class="card-body">
        <ngx-datatable
        class="material fullscreen"
        columnMode="force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [scrollbarH]="true"
        #dataTable
        [rows]="items"
        [count]="totalCount"
        [list]="list"
        appNgxdatatable
        >
            <ngx-datatable-column [name]=" (activeTabName + 'Name') | abpLocalization" prop="name">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row | lang:'name'  }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]=" (activeTabName +'Owner') | abpLocalization" prop="ownerName"></ngx-datatable-column>
            <ngx-datatable-column [name]=" (activeTabName +'Potential') | abpLocalization" prop="potentialName">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row | lang:'potentialName'  }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]=" (activeTabName +'Status') | abpLocalization" prop="status">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="status" [class.closed]="value == Status.Close">
                        {{ ( '::Status:' + Status[value] ) | abpLocalization }}
                    </span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'::CreatedBy' | abpLocalization" prop="creator.userName"></ngx-datatable-column>

            <ngx-datatable-column [name]="'::CreatedDate' | abpLocalization" prop="creationTime">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value | date:'yyyy-MM-dd' }}
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false" cellClass="options" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button *abpPermission="'ComplianceSystem.RiskAndOpportunity.Delete'" mat-button color="warn" (click)="$event.stopPropagation();delete(row)">
                        <mat-icon >delete_forever</mat-icon>
                    </button>
                    <a mat-button *abpPermission="'ComplianceSystem.RiskAndOpportunity.Update'" [routerLink]="['/risks-management', row.id, 'edit']">
                        <mat-icon>edit</mat-icon>
                    </a>

                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>
