<ngx-datatable
class="material fullscreen"
[rows]="items"
[count]="totalCount"
[list]="list"
appNgxdatatable>

    <ngx-datatable-column [name]="'::اسم الشخص' | abpLocalization" prop="name"> </ngx-datatable-column>
    <ngx-datatable-column [name]="'::دور الشخص' | abpLocalization" prop="role"> </ngx-datatable-column>
    <ngx-datatable-column [name]="'::الأجراء المتخذ' | abpLocalization" prop="action"> </ngx-datatable-column>
    <ngx-datatable-column [name]="'::تاريخ الأجراء' | abpLocalization" prop="date"> </ngx-datatable-column>
    <ngx-datatable-column [name]="'::الحالة' | abpLocalization" prop="status"> </ngx-datatable-column>

    <ngx-datatable-column [name]="'::الملاحظات' | abpLocalization" prop="notes" [width]="350">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <p class="notes-cont">
                {{value}}
            </p>
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="170" [minWidth]="170" [sortable]="false" cellClass="options">
        <ng-template let-row="row" ngx-datatable-cell-template>
           <div class="table-actions">
                <button mat-button >
                    <mat-icon class="ms-0 me-0 send" color="accent">send</mat-icon>
                </button>
                <button mat-button >
                    <mat-icon class="ms-0 me-0" color="primary">done</mat-icon>
                </button>
                <button mat-button>
                    <mat-icon class="ms-0 me-0" color="warn">close</mat-icon>
                </button>
           </div>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
