<form  [formGroup]="form" (ngSubmit)="save()" class="app-dialog">
    <mat-card>
        <mat-card-title mat-dialog-title class="px-5">
            <h2>
                <span *ngIf="riskOppData">
                    {{riskOppData | lang:'name'}}
                    -
                </span>
                <!-- {{ (data?.id ? '::HistoryAction:UpdatePlanAction' : '::HistoryAction:CreatePlanAction' ) | abpLocalization }} -->
                {{ '::ActionPlan' |  abpLocalization }}
            </h2>
        </mat-card-title>
        <mat-card-content mat-dialog-content>
            <div class="row" *ngIf="showContent" >
                <div class="col-md-6 form-group">
                    <label for="mitigateActionPlanAr">
                        {{ '::mitigateActionPlanAr' | abpLocalization }}
                    </label>
                    <span> * </span>
                    <input type="text" id="mitigateActionPlanAr" class="form-control" formControlName="mitigateActionPlanAr" />
                </div>
                <div class="col-md-6 form-group">
                    <label for="mitigateActionPlanEn">{{ '::mitigateActionPlanEn' | abpLocalization }}</label><span> * </span>
                    <input type="text" id="mitigateActionPlanEn" class="form-control" formControlName="mitigateActionPlanEn" />
                </div>


                <div class="col-md-6 form-group">
                    <label for="actionDetailsAr">{{ '::ActionDetailsAr' | abpLocalization }}</label><span> * </span>
                    <input type="text" id="actionDetailsAr" class="form-control" formControlName="actionDetailsAr" />
                </div>
                <div class="col-md-6 form-group">
                    <label for="actionDetailsEn">{{ '::ActionDetailsEn' | abpLocalization }}</label><span> * </span>
                    <input type="text" id="actionDetailsEn" class="form-control" formControlName="actionDetailsEn" />
                </div>


                <div class="col-md-6 form-group">
                    <label>
                        {{ '::responsibility' | abpLocalization }}
                    </label>
                    <span> * </span>
                    <ng-select formControlName="responsibility">
                        <ng-option *ngFor="let user of users" [value]="user.id">
                            {{user?.name}}
                        </ng-option>
                    </ng-select>
                </div>

                <div class="col-md-6 form-group">
                    <label for="dueDate">{{ '::DueDate' | abpLocalization }}</label><span> * </span>
                    <input #datepicker="ngbDatepicker" class="form-control" id="dueDate" name="datepicker" formControlName="dueDate"
                    ngbDatepicker (click)="datepicker.toggle()" (change)="changeDate($event)" />
                </div>


                <div class="col-md-6 form-group">
                  <label>
                      {{ '::Status' | abpLocalization }}
                  </label>
                  <span> * </span>
                  <ng-select formControlName="status" (change)="changeStatus($event)">
                      <ng-option *ngFor="let status of StatusArr" [value]="status.id" [disabled]="status.isDisabled">
                          {{status | lang:'name' }}
                      </ng-option>
                  </ng-select>
              </div>

                <div class="col-md-6 form-group">
                    <label for="startDate">{{ '::StartDate' | abpLocalization }}</label>
                    <input #datepicker1="ngbDatepicker" class="form-control" id="startDate" name="datepicker1" formControlName="startDate"
                    ngbDatepicker (click)="datepicker1.toggle()" />

                    <!-- <input class="form-control" id="startDate" name="startDatepicker" formControlName="startDate" (click)="datepicker.toggle()" /> -->
                </div>

                <div class="col-md-6 form-group">
                  <label for="achievementPercentage">{{ '::AchievementPercentage' | abpLocalization }}</label><span>%</span>
                  <input type="number" id="achievementPercentage" class="form-control" formControlName="achievementPercentage" />
                  </div>

                <div class="col-md-6 form-group">
                  <label for="completionDateDate">{{ '::CompletionDate' | abpLocalization }}</label>
                  <input #datepicker2="ngbDatepicker" class="form-control" id="completionDate" name="datepicker2" formControlName="completionDate"
                  ngbDatepicker (click)="datepicker2.toggle()" (ngModelChange)="changeDate($event)" />
              </div>


                <div class="col-md-12 form-group">
                    <label >{{ '::ObjectiveEvidence' | abpLocalization }}</label>
                    <app-table-files
                    [attachment]="{isMultiple:false}"
                    [attachmentId]="form.controls.attachmentId.value"
                    [disabled]="form.controls.attachmentId.disabled"
                    (OnFileUploaded)="OnFileUploaded($event)" (OnFileBeginUpload)="OnFileBeginUpload($event)"
                    (OnFileEndUpload)="OnFileEndUpload($event)">
                    </app-table-files>
                </div>
            </div>
        </mat-card-content>

        <div class="actions py-3" mat-dialog-actions>
            <ng-container *ngIf="!form.disabled && showContent">
                <ng-template #showOther>
                    <!-- <mat-spinner diameter="30" [strokeWidth]="2"></mat-spinner> -->
                    <button [disabled]="isSaving" mat-raised-button color="primary" [disabled]="uploading">
                        <div class="d-flex align-items-center justify-content-center">
                            <ng-template #showIcon>
                                <i class="fa fa-check me-1"></i>
                            </ng-template>
                            <mat-spinner *ngIf="isSaving; else showIcon" diameter="15" [strokeWidth]="2"></mat-spinner>
                            <span>
                                {{ '::Save' | abpLocalization }}
                            </span>
                        </div>
                    </button>
                </ng-template>
                <button mat-raised-button color="accent" *ngIf="form.controls.achievementPercentage.value == 100; else showOther" type="button">
                    <i class="fas fa-paper-plane me-1"></i>
                    {{ '::SendRequest' | abpLocalization }}
                </button>
            </ng-container>

            <button type="button" mat-raised-button color="warn" (click)="close()">
                {{ '::Back' | abpLocalization }}
            </button>

        </div>

    </mat-card>
</form>
