.re-btn {
    width: auto;
    padding: 0 16px;
    border-radius: 5px;
    background: rgba(71,117,253,.1);
    border: 2px solid #4775FD;
    color: #4775FD;
    font-weight: bold;
}


.form-group {
    span{
        color: red;
        font-weight: bold;
    }
}

mat-card-title {
    font-weight: bold;
}

.row {
    margin-bottom: 32px;
}

.actions {
    margin-top: -55px;
    display: flex;
    align-items: center;
    justify-content: end;
    button {
        min-width: 100px;
        margin: 0 10px;
        &.secondary {
            color: #fff;
            background-color: #5a6268;
            border-color: #545b62;
        }
        &.primary {
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
        }
        &.send {
            color: #fff;
            background-color: #00897b;
            border-color: #0a9688;
        }
    }
}

// :host.in-modal {
//     mat-card {
//         max-width: 700px;
//         mat-card-content {
//             max-height: 80vh;
//             overflow: auto;
//         }
//     }
// }