<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center header-content">
            <h3 class="card-title m-0">
                {{ '::اعداد التدقيق' | abpLocalization }}
            </h3>
            <div class="d-flex justify-content-end">
                <button mat-button class="filter-btn mr-3" (click)="showFilters = !showFilters" [class.show]="showFilters">
                    <i class="fas fa-filter"></i>
                </button>
                <app-search (search)="searchVal = $event;list.get()"></app-search>
            </div>
        </div>

        <form [formGroup]="filterForm">
            <div class="row filter-row mt-3" [class.show]="showFilters">
                <div class="col-md-3 form-group">
                    <label>
                        {{ '::IsApprove' | abpLocalization }}
                    </label>
                    <ng-select formControlName="IsApprove">
                        <ng-option [value]="true">
                            {{ '::yes' | abpLocalization }}
                        </ng-option>
                        <ng-option [value]="false">
                            {{ '::no' | abpLocalization }}
                        </ng-option>
                    </ng-select>
                </div>
                
                <div class="col-md-3 form-group">
                    <label for="approveDate">{{ '::approveDate' | abpLocalization }}</label>
                    <input #approveDate="ngbDatepicker" class="form-control" id="approveDate" name="approveDate" formControlName="approveDate"
                    ngbDatepicker (click)="approveDate.toggle()" />
                </div>
    
                <div class="col-md-3 form-group">
                    <label>
                        {{ '::Department' | abpLocalization }}
                    </label>
                    <ng-select formControlName="DepartmentId">
                        <ng-option *ngFor="let department of departments" [value]="department.id">
                            {{ department.name }}
                        </ng-option>
                    </ng-select>
                </div>
    
                <div class="col-md-3 form-group">
                    <label>
                        {{ '::Framework' | abpLocalization }}
                    </label>
                    <ng-select formControlName="FrameworkId">
                        <ng-option *ngFor="let framework of frameworks" [value]="framework.id">
                            {{ framework | lang:'name' }}
                        </ng-option>
                    </ng-select>
                </div>
                
            </div>
        </form>

    </div>
    <div class="card-body">
        <ngx-datatable class="material fullscreen" [rows]="items" [count]="totalCount" [list]="list" appNgxdatatable >
            <ngx-datatable-column [name]=" '::AuditCode' | abpLocalization " prop="auditCode"></ngx-datatable-column>

            <ngx-datatable-column [name]=" '::AuditTitle' | abpLocalization">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row | lang:'auditTitle' }}
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column [name]=" '::FrameworkName' | abpLocalization " prop="framework">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value | lang:'name' }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]=" '::DepartmentName' | abpLocalization" prop="department">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value.name }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]=" '::creatorName' | abpLocalization" prop="creator">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value.name }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column *ngIf="showFilters" [name]=" '::ApproveStatus' | abpLocalization">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.isApprove !== null; else showNull">
                        <span [style.color]="row.isApprove ? 'green' : 'red'">
                            {{ (row.isApprove ? '::yes' : '::no') | abpLocalization }}
                        </span>
                    </ng-container>
                    <ng-template #showNull>
                        -
                    </ng-template>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'::CreationTime' | abpLocalization" prop="creationTime">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value | date:'yyyy/MM/dd' }} 
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false" cellClass="options">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a mat-button [routerLink]="['/internal-audit/approved-audits', row.id, 'approve-decline']">
                        Approve Or Decline
                    </a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

</div>