<div class="row mb-4">
    <div class="col-md-6">
        <mat-card class="example-card">
            <mat-card-title>
                {{ '::Risk' | abpLocalization }}
            </mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            <mat-card-content>
              <p>
                {{totalCountRisk}}
              </p><p>   {{ '::CountOfRisks' | abpLocalization }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card class="example-card">
            <mat-card-title>
                {{ '::Opportunity' | abpLocalization }}
            </mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            <mat-card-content>
              <p>
                {{totalCountOpportunity}}
              </p><p>   {{ '::CountOfOpportunities' | abpLocalization }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <div echarts [options]="risksChart"></div>
            </div>
            <div class="col-md-6">
                <div echarts [options]="opportunitiesChart"></div>
            </div>
            <div class="col-md-6">
              <div echarts [options]="riskBarsPotentials"></div>
          </div>
          <div class="col-md-6">
              <div echarts [options]="riskBarsOpportunityPotentials"></div>
          </div>
            <div class="col-md-6">
                <div echarts [options]="riskBarsOptions"></div>
            </div>
            <div class="col-md-6">
                <div echarts [options]="opportunitiesBarsOptions"></div>
            </div>
            <div class="col-md-6">
              <div echarts [options]="treatmentRisksChart"></div>
          </div>
          <div class="col-md-6">
              <div echarts [options]="treatmentOpportunitiesChart"></div>
          </div>
        </div>
    </mat-card-content>
</mat-card>
