button {
}
app-table-files {
    margin-bottom: -1rem;
    display: block;
}

input {
    text-align: end;
}

.big-label {
    font-size: 1rem;
    font-weight: bold;
}

label {
    font-size: 1rem;
}